<template>
  <q-page padding class="text-center">
    <div class="text-h4 text-weight-bold text-teal" style="margin-top:20px">{{ $t('contact') }}</div>
    <div class="text-subtitle1" style="margin-top:20px">
      <i class="fab fa-whatsapp text-teal q-mr-xs"></i>
      <span class="text-grey-8 text-bold q-mr-xs"> WhatsApp: </span>
      <a class="link" href="https://wa.me/85269979016">69979016</a><br>
    </div>
    <div class="text-subtitle1" style="margin-top:10px">
      <i class="fa fa-phone text-teal q-mr-xs"></i>
      <span class="text-grey-8 text-bold q-mr-xs"> {{$t('emergencyContact')}}: </span>
      <a class="link" href="https://wa.me/85296263602">96263602</a>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'contact'
}
</script>
