<template>
  <div>
    <q-tabs
      v-model="curType"
      inline-label
      align="center"
      class="bg-grey-1 text-ao bordered text-bold"
      style="border-bottom: 1px solid rgba(0,0,0,0.12)"
      :breakpoint="0"
    >
      <q-tab name="single" icon="person" class="text-bold" @click.native="$router.push('/' + $i18n.locale + '/rank/single/1')"> {{ $t('single') }} </q-tab>
      <q-tab name="double" icon="people" class="text-bold" @click.native="$router.push('/' + $i18n.locale + '/rank/double/1')"> {{ $t('double') }} </q-tab>
    </q-tabs>
    <div v-html="html" />
    <q-page padding>
      <div v-if="!data" class="text-center"><q-spinner-dots color="cyan" size="2em"/></div>
      <div v-if="data">
        <q-pagination
          v-model="curPage"
          color="light-blue-14"
          :max="maxPage"
          :input="true"
        />
        <q-table
          separator="cell"
          :data="data" :columns="columns"
          :pagination.sync="pagination"
          hide-bottom flat bordered
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="rank" :props="props">
                {{ props.row.rank }}
              </q-td>
              <q-td key="username" class="cursor-pointer" :props="props">
                <router-link :to="'/' + $i18n.locale + '/user/' + props.row.uid" class="link"><span class=" text-weight-bold">{{ props.row.username }}</span></router-link>
              </q-td>
              <q-td key="mmr" :props="props">{{ props.row.mmr }}</q-td>
              <q-td key="winlose" :props="props">
                {{ props.row.win }} / {{ props.row.lose }}
                ({{ props.row.ratio }}%)
              </q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props">
              <q-td colspan="100%">
                <div class="text-left">This is expand slot for row above: {{ props.row.name }}.</div>
              </q-td>
            </q-tr>
          </template>
        </q-table>

        <q-pagination
          v-model="curPage"
          color="light-blue-14"
          :max="maxPage"
          :input="true"
        />
      </div>
    </q-page>
  </div>

</template>

<style>
</style>

<script>
export default {
  name: 'rankList',
  data () {
    return {
      html: this.$glo.headCode,
      curType: this.$route.params.mode,
      tab: 'mails', // for Qtabs
      maxPage: 1,
      curPage: Number(this.$route.params.page),
      pagination: {
        rowsPerPage: 50 // current rows per page being displayed
      },
      data: ''
    }
  },
  computed: {
    columns () {
      return [
        {
          name: 'rank',
          required: true,
          label: this.$t('rank'),
          align: 'left',
          field: 'rank',
          format: val => `${val}`
        },
        { name: 'username', align: 'left', label: this.$t('player'), field: 'username' },
        { name: 'mmr', label: this.$t('mmr'), field: 'mmr' },
        { name: 'winlose', label: this.$t('winlose'), field: 'winlose' }
      ]
    }
  },
  methods: {
    getData (type, page) {
      this.data = ''
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=rank&type=' + type + '&page=' + page, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          this.data = response.data.result
          this.maxPage = response.data.maxPage
          this.$router.push({ name: 'rank', params: { mode: type, page: page } })
        })
    }
  },
  watch: {
    curPage () { // When change pages
      this.getData(this.curType, this.curPage)
    },
    $route (to, from) {
      this.curType = this.$route.params.mode
      this.curPage = Number(this.$route.params.page)
    },
    curType () { // When change of single and double
      this.getData(this.curType, 1)
    }
  },
  created: function () {
    this.getData(this.curType, this.curPage)
  },
  mounted () {}
}
</script>
