<template>
<div/>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  mounted () {
    if (!this.$route.params.mode) {
      // console.log('222')
      this.$router.replace({ name: 'rank', params: { mode: 'single', page: 1 } })
      // this.curType = 'single'
      // this.curPage = 1
      // this.getData(this.curType, this.curPage)
    } else if (!this.$route.params.page) {
      // this.$router.push({ name: 'rank', params: { mode: this.$route.params.mode, page: 1 } })
    }
  }
}
</script>
