<template>
  <div>
    <q-tabs
        inline-label
        class="bg-purple text-white shadow-2"
      >
        <q-route-tab name="single" icon="mail" label="single" to="/test/single"/>
        <q-route-tab name="double" icon="alarm" label="double" to="/test/double"/>
        <q-route-tab name="movies" icon="movie" label="Movies" to="/test" exact/>
      </q-tabs>
    <q-page padding>

    </q-page>
  </div>
</template>

<style>
</style>

<script>
export default {
  name: 'test'
  /*
  data () {
    return {
      html: this.$glo.headCode,
      curType: this.$route.params.mode,
      tab: this.$route.params.mode, // for Qtabs
      maxPage: 1,
      curPage: Number(this.$route.params.page),
      pagination: {
        rowsPerPage: 50 // current rows per page being displayed
      },
      columns: [
        {
          name: 'rank',
          required: true,
          label: this.$t('rank'),
          align: 'left',
          field: 'rank',
          format: val => `${val}`
        },
        { name: 'username', align: 'left', label: this.$t('player'), field: 'username' },
        { name: 'mmr', label: this.$t('mmr'), field: 'mmr' },
        { name: 'winlose', label: this.$t('winlose'), field: 'winlose' }
      ],
      data: [{ name: 'error', tour_id: 'error' }]
    }
  },
  computed: {
    testState: function () {
      return this.$store.state.global.testState
    }
  },
  methods: {
    getData (type, page) {
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=rank&type=' + type + '&page=' + page, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          this.data = response.data.result
          this.maxPage = response.data.maxPage
        })
    }
  },
  watch: {
    curPage () {
      this.getData(this.curType, this.curPage)
      // history.pushState({}, null, '/' + this.$i18n.locale + '/tour/' + this.current) // Replace the url without re-render
      // history.back()
      this.$router.replace({ name: 'rank', params: { mode: this.curType, page: this.curPage } })
      // this.$router.replace('/' + this.$i18n.locale + '/tour/' + this.current)
    }
  },
  created: function () {
    // this.$store.dispatch('global/testLink')
    // return this.$glo.apiLink // Run mutations
    this.getData(this.$route.params.mode, this.$route.params.page)
  },
  mounted () {
    // Redirect to 1 page if there is no page number
    if (!this.$route.params.page) {
      // this.$router.replace('/' + this.$i18n.locale + '/rank/' + this.$route.params.mode + '/1')
    }
  }
  */
}
</script>
