<template>
  <q-page padding>
    <!-- content -->
    <q-input filled v-model="form.username" :label="$t('username')" color="cyan" />
    <q-input filled v-model="form.password" :label="$t('password')" color="cyan" type="password" class="q-mt-md q-mb-md" />

    <q-btn class="q-mr-md" color="cyan" :label="$t('login')" @click="login()"/>
    <q-btn class="q-mr-md" color="cyan" label="Delete Token" @click="resetToken('')"/>
    <q-btn class="q-mr-md" color="cyan" label="Show Token" @click="showToken('')"/>
    <q-btn class="q-mr-md" color="blue" label="Facebook Login" @click="fblogin('')"/>
    <q-btn class="q-mr-md" color="blue" label="Facebook Logout" @click="fblogout('')"/>
    <q-btn class="q-mr-md" color="blue" label="FB get data" @click="fbdata('')"/>
    <facebook-login class="button"
      appId="674357219370735"
      @login="onLogin"
      @logout="onLogout"
      @sdk-loaded="sdkLoaded">
    </facebook-login>
  </q-page>
</template>

<script>
// 674357219370735 @Rankopen
// 2049822855318927 @Localhost
import facebookLogin from 'facebook-login-vuejs'
// var facebookConnectPlugin
export default {
  // name: 'PageName',
  data () {
    return {
      visible: true,
      visible2: true,
      error: 'error',
      form: {
        username: 'admin',
        password: 'vs8l0t0i0lm9'
      },
      fbLoginStatus: this.fbLoginStatus
    }
  },
  components: {
    facebookLogin
  },
  mounted () {
    document.addEventListener('deviceready', this.onDeviceReady, false)
  },
  methods: {
    fblogin () {
      // alert('2313')
      window.facebookConnectPlugin.login(['public_profile'],
        function statusSuccess (data) {
          alert(JSON.stringify(data))
        },
        function loginError (error) {
          alert(error)
        }
      )
    },
    fblogout () {
      // alert('2313')
      var fbLogoutSuccess = function (userData) {
        alert('UserLogout: ', userData)
      }
      window.facebookConnectPlugin.logout(fbLogoutSuccess,
        function loginError (error) {
          alert(error)
        }
      )
    },
    fbdata () {
      window.facebookConnectPlugin.getLoginStatus(
        function statusSuccess (data) {
          alert(JSON.stringify(data))
        },
        function loginError (error) {
          alert(error)
        }
      )
    },
    getUserData () {
      this.FB.api('/me', 'GET', { fields: 'id,name,email' },
        userInformation => {
          this.personalID = userInformation.id
          this.email = userInformation.email
          this.name = userInformation.name
          console.log(userInformation.id)
          console.log(userInformation.email)
          console.log(userInformation.name)
        }
      )
    },
    sdkLoaded (payload) {
      this.isConnected = payload.isConnected
      this.FB = payload.FB
      if (this.isConnected) this.getUserData()
    },
    onLogin () {
      this.isConnected = true
      this.getUserData()
    },
    onLogout () {
      this.isConnected = false
    },
    login () {
      this.$axios.post('https://rankopen.com/plugin.php?id=api&mode=pub&tab=login', JSON.stringify({ username: encodeURI(this.form.username), password: this.form.password }))
      // this.$axios.get('https://rankopen.com/testapi.php')
        .then((response) => {
          if (response.data === 'fail' || !response.data) {
            this.$q.notify({ message: this.$t('failLogin'), position: this.$glo.notePos, color: this.$glo.noteColor })
          } else {
            console.log(response)
            localStorage.setItem('uid', response.data.uid)
            localStorage.setItem('username', response.data.username)
            localStorage.setItem('JWT_TOKEN', response.data.jwt) // Save returned JWT token to local storage
            this.$axios.defaults.headers.common['Authorization'] = 'Bearer ' + response.data.jwt // Save returned JWT token to header
            this.$q.notify({ message: this.$t('successLogin'), position: this.$glo.notePos, color: this.$glo.noteColor, timeout: 2000, actions: [{ icon: 'close', color: 'white' }] })
            console.log(this.$glo.prePath)
            this.$router.push('/' + this.$i18n.locale + this.$glo.prePath) // Go to previous path saved at global variables
            // this.$router.push('/' + this.$i18n.locale + this.$glo.prePath) // Go to previous path saved at global variables
          }
          // alert(localStorage.getItem('JWT_TOKEN'))
          // this.$axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('JWT_TOKEN')
          // this.$axios.defaults.headers.common['Authorization'] = 'test login.vue'
          // this.$router.go(-1) // go to previous page
          // console.log(this.$axios.defaults.headers.common['Authorization'])
          // this.$q.notify(response.data)
        })
        .catch(() => {
          this.$q.notify({ message: this.$t('failLogin'), position: this.$glo.notePos, color: this.$glo.noteColor, timeout: 2000, actions: [{ icon: 'close', color: 'white' }] })
        })
    },
    resetToken () {
      localStorage.removeItem('JWT_TOKEN')
      console.log(localStorage.getItem('JWT_TOKEN'))
    },
    showToken () {
      this.$q.notify(localStorage.getItem('JWT_TOKEN'))
      console.log(localStorage.getItem('JWT_TOKEN'))
    }
  }
}
</script>

<style>
</style>
