<template>
  <q-page class="flex flex-center">
    This is the logout page <br>
    <q-btn class="q-mr-md" color="secondary" label="Logout" @click="logout('')"/>
    <q-btn class="q-mr-md" color="secondary" label="Show Token" @click="showToken()"/>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  mounted () {
    localStorage.clear()
    console.log(localStorage)
    this.$axios.defaults.headers.common['Authorization'] = '' // Remove header token
    this.$q.notify({ message: this.$t('loggedOut'), position: this.$glo.notePos, color: this.$glo.noteColor, timeout: 2000, actions: [{ icon: 'close', color: 'white' }] })
    this.$router.replace('/' + this.$i18n.locale + '/login')
    // this.$router.go(-1) // go to previous page
  },
  methods: {
    showToken () { console.log(this.$glo.prePath) },
    logout () {
      this.$glo.removeToken()
    }
  }
}
</script>
