<template>
  <q-page padding>
    <!-- content -->
    <q-input filled v-model="form.username" label="Username" />
    <q-input filled v-model="form.password" label="Password" type="password" class="q-mt-md q-mb-md" />

    <q-btn class="q-mr-md" color="secondary" label="Login" @click="login()"/>
    <q-btn class="q-mr-md" color="secondary" label="Delete Token" @click="resetToken('')"/>
    <q-btn class="q-mr-md" color="secondary" label="Show Token" @click="showToken('')"/>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data () {
    return {
      visible: true,
      visible2: true,
      error: 'error',
      form: {
        username: 'admin',
        password: 'vs8l0t0i0lm9'
      }
    }
  },
  methods: {
    login () {
      this.$axios.post('https://rankopen.com/plugin.php?id=api&mode=pub&tab=login', JSON.stringify({ username: encodeURI(this.form.username), password: this.form.password }))
      // this.$axios.get('https://rankopen.com/testapi.php')
        .then((response) => {
          if (response.data === 'fail' || !response.data) {
            this.$q.notify({ message: '登入失敗', position: this.$glo.notePos, color: this.$glo.noteColor })
          } else {
            localStorage.setItem('JWT_TOKEN', response.data) // Save returned JWT token to local storage
            this.$axios.defaults.headers.common['Authorization'] = 'Bearer ' + response.data // Save returned JWT token to header
            this.$q.notify({ message: '成功登入', position: this.$glo.notePos, color: this.$glo.noteColor })
            this.$router.replace(this.$glo.prePath) // Go to previous path saved at global variables
            console.log(decodeURI(response.data))
          }
          // alert(localStorage.getItem('JWT_TOKEN'))
          // this.$axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('JWT_TOKEN')
          // this.$axios.defaults.headers.common['Authorization'] = 'test login.vue'
          // this.$router.go(-1) // go to previous page
          // console.log(this.$axios.defaults.headers.common['Authorization'])
          // this.$q.notify(response.data)
        })
        .catch(() => {
          this.$q.notify({ message: '驗證失敗', position: this.$glo.notePos, color: this.$glo.noteColor })
        })
    },
    resetToken () {
      localStorage.removeItem('JWT_TOKEN')
      console.log(localStorage.getItem('JWT_TOKEN'))
    },
    showToken () {
      this.$q.notify(localStorage.getItem('JWT_TOKEN'))
      console.log(localStorage.getItem('JWT_TOKEN'))
    }
  }
}
</script>

<style>
</style>
