<template>
<div/>
</template>

<style>
</style>

<script>
export default {
  name: 'member',
  mounted () {
    if (!this.$route.params.page) {
      this.$router.replace('/' + this.$i18n.locale + '/member/schedule/1')
    }
  }
}
</script>
