<template>
  <div>
    <div v-if="!data" class="text-center"><q-spinner-dots color="cyan" size="2em"/></div>
    <div v-if="data">
      <div class="q-ma-md" v-if="showError">{{$t('error')}}</div>
      <div class="q-ma-md" v-if="!showError">
        <datetime type="datetime" format="dd-MM-yyyy hh:mma" v-model="datetime" input-id="startDate" :phrases="{ok: $t('confirm'), cancel: $t('cancel')}" auto />
        <q-input color="cyan" outlined v-model="inputTime" :label="$t('time')" class="" @click="myClickEvent">
          <template v-slot:prepend>
            <q-icon name="event" />
          </template>
        </q-input>
        <q-input color="cyan" v-model="place" outlined :label="$t('place')" class="q-mt-md">
          <template v-slot:prepend>
            <q-icon name="place" />
          </template>
        </q-input>
        <div class="q-mt-md">
          <q-markup-table flat bordered separator="cell">
            <thead>
              <tr v-if="this.type === 'single'">
                <td class="text-center">{{ $t('player') }}</td>
                <td class="text-center"><router-link :to="'/' + $i18n.locale + '/user/' + this.data.p1uid" class="link"> {{ this.data.p1_name }}</router-link></td>
                <td class="text-center"><router-link :to="'/' + $i18n.locale + '/user/' + this.data.p2uid" class="link"> {{ this.data.p2_name }}</router-link></td>
              </tr>
              <tr v-if="this.type === 'double'">
                <td class="text-center">{{ $t('player') }}</td>
                <td class="text-center">
                  <router-link :to="'/' + $i18n.locale + '/user/' + this.data.double1p1_uid" class="link"> {{ this.data.double1p1_name }}</router-link> +
                  <router-link :to="'/' + $i18n.locale + '/user/' + this.data.double1p2_uid" class="link"> {{ this.data.double1p2_name }}</router-link>
                </td>
                <td class="text-center">
                  <router-link :to="'/' + $i18n.locale + '/user/' + this.data.double2p1_uid" class="link"> {{ this.data.double2p1_name }}</router-link> +
                  <router-link :to="'/' + $i18n.locale + '/user/' + this.data.double2p2_uid" class="link"> {{ this.data.double2p2_name }}</router-link>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-grey-1">
                <td class="text-center text-weight-bold">{{ $t('set1') }}</td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[0][0]" outlined/></td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[0][1]" outlined/></td>
              </tr>
              <tr>
                <td class="text-center text-weight-bold">{{ $t('set1') }}<br><small class="text-red-6">{{ $t('tiebreak') }}</small></td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[0][2]" outlined/></td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[0][3]" outlined/></td>
              </tr>
              <tr class="bg-grey-1">
                <td class="text-center text-weight-bold">{{ $t('set2') }}</td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[1][0]" outlined/></td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[1][1]" outlined/></td>
              </tr>
              <tr>
                <td class="text-center text-weight-bold">{{ $t('set2') }}<br><small class="text-red-6">{{ $t('tiebreak') }}</small></td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[1][2]" outlined/></td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[1][3]" outlined/></td>
              </tr>
              <tr class="bg-grey-1" v-if="this.groupdata.format !== '6'">
                <td class="text-center text-weight-bold">{{ $t('set3') }}</td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[2][0]" outlined/></td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[2][1]" outlined/></td>
              </tr>
              <tr>
                <td class="text-center text-weight-bold">{{ $t('set3') }}<br><small class="text-red-6">{{ $t('tiebreak') }}</small></td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[2][2]" outlined/></td>
                <td class="text-center"><q-input dense color="cyan" v-model="score[2][3]" outlined/></td>
              </tr>
              <tr>
                <td class="text-center text-weight-bold">{{ $t('retire') }}</td>
                <td class="text-center"><q-checkbox keep-color v-model="retire1" :label="$t('retire')" color="cyan" /></td>
                <td class="text-center"><q-checkbox keep-color v-model="retire2" :label="$t('retire')" color="cyan" /></td>
              </tr>
              <tr>
                <td class="text-center text-weight-bold">{{ $t('reschedule') }}</td>
                <td class="text-center" colspan='2'><q-checkbox keep-color v-model="newtime" :label="$t('reschedule')" color="cyan" /></td>
              </tr>
              <tr>
                <td class="text-center text-weight-bold">{{ $t('remark') }}</td>
                <td class="text-center" colspan='2'><q-input v-model="remark" outlined autogrow /></td>
              </tr>
            </tbody>
          </q-markup-table>
        </div>
        <center class="q-mt-md">
          <q-btn :loading="disableSubmit" type="submit" color="cyan" :label="$t('submit')" @click="submit" ref="submitBtn" v-if="this.data.winner === '0' || this.data.win_pairid === '0'"/>
          <span class="text-grey-7" v-if="this.data.winner != '0' && this.data.win_pairid != '0'">{{$t('haveWinner')}}</span>
        </center>
      </div>
    </div>
  </div>
</template>

<style>
.my-card {
  margin: 15px;
}
.vdatetime-input {
  display: none;
}
table {
  border-collapse: collapse;
  width:100%;
}
table, th, td {
  border: 1px solid #ccc;
  padding:5px;
}
</style>

<script>
import { Datetime } from 'vue-datetime'
import 'vue-datetime/dist/vue-datetime.css'
export default {
  name: 'report',
  data () {
    return {
      tourContent: '',
      uid: localStorage.getItem('uid'),
      data: '',
      groupdata: '',
      place: '',
      score: [['', '', '', ''], ['', '', '', ''], ['', '', '', '']],
      retire1: false,
      retire2: false,
      newtime: false,
      datetime: '',
      disableSubmit: false,
      showError: false,
      remark: '',
      inputTime: '',
      gameID: Number(this.$route.params.id),
      type: this.$route.params.type,
      pagination: {
        rowsPerPage: 20 // current rows per page being displayed
      }
    }
  },
  components: {
    Datetime
  },
  computed: {
  },
  methods: {
    submit () {
      this.disableSubmit = true
      this.$axios.post(this.$glo.apiLink + '&mode=jwt&tab=report&action=submit&type=' + this.type,
        JSON.stringify({
          lang: this.$i18n.locale,
          type: this.type,
          gameid: this.gameID,
          tourid: this.data.tour_id,
          groupid: this.data.group_id,
          datetime: this.inputTime,
          place: (this.place),
          score: this.score,
          retire1: this.retire1,
          retire2: this.retire2,
          newtime: this.newtime,
          remark: this.remark
        }))
        .then((response) => {
          console.log(response.data.message)
          console.log(response)
          this.disableSubmit = false
          if (response.data.message === 'cantUpdate') {
            this.$q.notify({ message: this.$t('updateFailed'), color: 'red', position: 'top', timeout: 2000, actions: [{ icon: 'close', color: 'white' }] })
          } else if (response.data.message === 'updateSuccess') {
            this.$q.notify({ message: this.$t('updated'), color: 'cyan', position: 'top', timeout: 2000, actions: [{ icon: 'close', color: 'white' }] })
          } else {
            this.$q.notify({ message: this.$t('updateFailed'), color: 'red', position: 'top', timeout: 2000, actions: [{ icon: 'close', color: 'white' }] })
          }

          this.getGameData()
        })
        .catch((error) => {
          // handle error
          this.disableSubmit = false
          this.$q.notify(this.$t('updateFailed') + ': ' + error)
        })
    },
    myClickEvent () {
      document.getElementById('startDate').click()
    },
    getGameData () {
      this.$axios.post(this.$glo.apiLink + '&mode=jwt&tab=report&action=data&type=' + this.type + '&gameid=' + this.gameID, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          console.log(response.data.data)
          this.data = response.data.data
          this.groupdata = response.data.groupdata
          if (!response.data.data.game_id && !response.data.data.double_id) this.showError = true
          this.place = (response.data.data.place)
          this.remark = response.data.data.remark
          if (this.type === 'single') this.inputTime = response.data.data.datetime
          else if (this.type === 'double') this.inputTime = response.data.data.time
          if (response.data.data.retire1 === '1') this.retire1 = true
          else this.retire1 = false
          if (response.data.data.retire2 === '1') this.retire2 = true
          else this.retire2 = false
          if (response.data.data.newtime === '1') this.newtime = true
          else this.newtime = false
          // Handle score
          if (!response.data.data.score) {
            this.score = [['', '', '', ''], ['', '', '', ''], ['', '', '', '']]
          } else {
            this.score = response.data.data.score
          }
          this.maxPage = response.data.maxPage
        })
        .catch((error) => {
          // handle error
          this.showError = true
          this.$q.notify(this.$t('error') + ': ' + error)
        })
    }
  },
  watch: {
    datetime () {
      this.$nextTick(() => {
        this.inputTime = document.getElementById('startDate').value
      })
    }
  },
  mounted () {
    this.getGameData()
  }
}
</script>
