<template>
  <div>
    <div v-if="!data" class="text-center"><q-spinner-dots color="cyan" size="2em"/></div>
    <div v-if="data">
      <span v-for="(item) in data" v-bind:key="item.group_id">
        <div style="padding:20px 10px 10px 10px">
          <div class="text-center" style="padding-bottom: 0px">
            <span class="text-h6">
              <router-link :to="'/' + $i18n.locale + '/draw/' + item.tour_id + '/' + item.group_id" class="link">
                {{ $i18n.locale == 'zh-hant' ? item.name : item.name_en }}
              </router-link>
            </span>
          </div>

          <div>
            <q-table
              separator="cell"
              :data="item.table.data" :columns="tourCol(item.format)"
              hide-bottom flat bordered
              :pagination.sync="pagination"
              style="margin-top:15px;"
            >
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="confirmed" class="text-grey-8" :props="props">
                    <span class="text-teal" v-if="props.row.confirmed == 1 || props.row.win_pairid != 0 || props.row.oppopid == -1">
                      {{ $t('ifDone') }}
                    </span>
                    <span class="text-italic text-grey" v-else>
                      {{ $t('notDone') }}
                    </span>
                  </q-td>
                  <q-td key="round" class="text-grey-8" :props="props" v-if="props.row.roundnote">{{ roundText(props.row.roundnote) }}</q-td>
                  <q-td key="oppoDouble" class="text-grey-8" :props="props">
                    <router-link :to="'/' + $i18n.locale + '/user/' + props.row.oppouid1" class="link">{{ props.row.opponame1 }}</router-link> +
                    <router-link :to="'/' + $i18n.locale + '/user/' + props.row.oppouid2" class="link"> {{ props.row.opponame2 }}</router-link>
                  </q-td>
                  <q-td key="oppo" class="text-grey-8" :props="props">
                    <span class="text-italic text-grey" v-if="props.row.oppopid == -1">
                      {{ $t('byeRound') }}
                    </span>
                    <span v-else>
                      <router-link :to="'/' + $i18n.locale + '/user/' + props.row.oppouid" class="link">{{ props.row.opponame }}</router-link>
                      <small class="text-grey-6"> [{{ props.row.opporank }}]</small>
                      <span class="text-red" v-if="props.row.oppoquit"> {{ $t('quitTour') }}</span>
                    </span>
                  </q-td>

                  <q-td key="time" class="text-grey-8" :props="props">
                    <span class="text-grey-4" v-if="!props.row.battletime">
                      <i class="fa fa-ellipsis-h"/>
                    </span>
                    {{ props.row.battletime }}
                  </q-td>
                  <q-td key="place" class="text-grey-8" :props="props">
                    <span class="text-grey-4" v-if="!props.row.battleplace"><i class="fa fa-ellipsis-h"/></span>
                    {{ props.row.battleplace }}
                  </q-td>
                  <q-td key="contact" class="text-grey-8" :props="props">
                    <span class="text-grey-4" v-if="!props.row.displayMobile"><i class="fa fa-ellipsis-h"/></span>
                    {{ props.row.displayMobile }}
                  </q-td>
                  <q-td key="oppoLocation" class="text-grey-8" :props="props">
                    <span class="text-grey-4" v-if="!props.row.oppoLocation"><i class="fa fa-ellipsis-h"/></span>
                    <span>{{ translatePlace(props.row.oppoLocation) }}</span>
                  </q-td>
                  <q-td key="deadline" class="text-grey-8" :props="props">{{ props.row.deadline }}</q-td>
                  <q-td key="practice" class="text-grey-8" :props="props">
                    <span class="text-grey-4" v-if="!props.row.practice"><i class="fa fa-ellipsis-h"/></span>
                    <span class="" v-if="props.row.practice == '會'">{{ $t('yesStay') }}</span>
                    <span class="" v-else-if="props.row.practice == '不會'">{{ $t('noStay') }}</span>
                  </q-td>
                  <q-td key="repoint" class="text-grey-8" :props="props">
                    <span v-if="props.row.game_id && props.row.oppopid != -1">
                      <q-btn outline  class="" color="cyan" :label="$t('repoint')" :to="'/' + $i18n.locale + '/member/report/single/' + props.row.game_id"/>
                    </span>
                    <span v-if="props.row.double_id && props.row.oppopid != -1">
                      <q-btn outline  class="" color="cyan" :label="$t('repoint')" :to="'/' + $i18n.locale + '/member/report/double/' + props.row.double_id"/>
                    </span>
                  </q-td>
                </q-tr>
              </template>
            </q-table>
          </div>
        </div>
      </span>
      <q-pagination
        v-model="page"
        color="light-blue-14"
        :max="maxPage"
        :input="true"
      />
    </div>
  </div>
</template>

<style>
.my-card {
  margin: 15px;
}
table {
  border-collapse: collapse;
  width:100%;
}
table, th, td {
  border: 1px solid #ccc;
  padding:5px;
}
</style>

<script>
export default {
  name: 'schedule',
  data () {
    return {
      tourContent: '',
      uid: localStorage.getItem('uid'),
      data: '',
      maxPage: 1,
      page: Number(this.$route.params.page),
      pagination: {
        rowsPerPage: 20 // current rows per page being displayed
      }
    }
  },
  computed: {
    minislam_col () {
      return [
        { name: 'confirmed', align: 'left', label: this.$t('sStatus'), field: 'confirmed' },
        { name: 'round', align: 'left', label: this.$t('round'), field: 'round' },
        { name: 'oppo', align: 'left', label: this.$t('opponent'), field: 'oppo' },
        { name: 'time', align: 'center', label: this.$t('time'), field: 'time' },
        { name: 'place', align: 'center', label: this.$t('place'), field: 'place' },
        { name: 'contact', align: 'center', label: this.$t('contact2'), field: 'contact' },
        { name: 'oppoLocation', align: 'center', label: this.$t('oppoLocation'), field: 'oppoLocation' },
        { name: 'deadline', align: 'center', label: this.$t('deadline2'), field: 'deadline' },
        { name: 'practice', align: 'center', label: this.$t('practiceAfter'), field: 'practice' },
        { name: 'repoint', align: 'center', label: this.$t('repoint'), field: 'repoint' }
      ]
    },
    semislam_col () {
      return [
        { name: 'confirmed', align: 'left', label: this.$t('sStatus'), field: 'confirmed' },
        { name: 'round', align: 'left', label: this.$t('round'), field: 'round' },
        { name: 'oppo', align: 'left', label: this.$t('opponent'), field: 'oppo' },
        { name: 'time', align: 'center', label: this.$t('time'), field: 'time' },
        { name: 'place', align: 'center', label: this.$t('place'), field: 'place' },
        { name: 'contact', align: 'center', label: this.$t('contact2'), field: 'contact' },
        { name: 'oppoLocation', align: 'center', label: this.$t('oppoLocation'), field: 'oppoLocation' },
        { name: 'deadline', align: 'center', label: this.$t('deadline2'), field: 'deadline' },
        { name: 'practice', align: 'center', label: this.$t('practiceAfter'), field: 'practice' },
        { name: 'repoint', align: 'center', label: this.$t('repoint'), field: 'repoint' }
      ]
    },
    buddies_col () {
      return [
        { name: 'confirmed', align: 'left', label: this.$t('sStatus'), field: 'confirmed' },
        { name: 'oppo', align: 'left', label: this.$t('opponent'), field: 'oppo' },
        { name: 'time', align: 'center', label: this.$t('time'), field: 'time' },
        { name: 'place', align: 'center', label: this.$t('place'), field: 'place' },
        { name: 'contact', align: 'center', label: this.$t('contact2'), field: 'contact' },
        { name: 'oppoLocation', align: 'center', label: this.$t('oppoLocation'), field: 'oppoLocation' },
        { name: 'practice', align: 'center', label: this.$t('practiceAfter'), field: 'practice' },
        { name: 'repoint', align: 'center', label: this.$t('repoint'), field: 'repoint' }
      ]
    },
    double_col () {
      return [
        { name: 'confirmed', align: 'left', label: this.$t('sStatus'), field: 'confirmed' },
        { name: 'oppoDouble', align: 'left', label: this.$t('opponent'), field: 'oppoDouble' },
        { name: 'time', align: 'center', label: this.$t('time'), field: 'time' },
        { name: 'place', align: 'center', label: this.$t('place'), field: 'place' },
        { name: 'contact', align: 'center', label: this.$t('contact2'), field: 'contact' },
        { name: 'repoint', align: 'center', label: this.$t('repoint'), field: 'repoint' }
      ]
    }
  },
  methods: {
    getTourData () {
      this.data = ''
      this.$axios.post(this.$glo.apiLink + '&mode=jwt&tab=schedule&page=' + this.page, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          // console.log(response.data.data)
          this.data = response.data.data
          this.maxPage = response.data.maxPage
        })
    },
    tourCol (format) {
      if (format === 'minislam') {
        return this.minislam_col
      } else if (format === 'semislam') {
        return this.semislam_col
      } else if (format === '4' || format === '6') {
        return this.buddies_col
      } else if (format === 'doublecup') {
        return this.double_col
      }
    },
    roundText (round) {
      if (round === 'f') {
        return this.$t('roundF')
      } else if (round === 'sf') {
        return this.$t('roundSF')
      } else if (round === 'qf') {
        return this.$t('roundQF')
      } else {
        return this.$t('round' + round)
      }
    },
    translatePlace (place) {
      if (place === '中西區') return this.$t('cwd')
      else if (place === '灣仔') return this.$t('wanChai')
      else if (place === '東區') return this.$t('eastD')
      else if (place === '南區') return this.$t('southD')
      else if (place === '油尖旺') return this.$t('ytm')
      else if (place === '深水&#22487;') return this.$t('ssp')
      else if (place === '九龍城') return this.$t('klnCity')
      else if (place === '黃大仙') return this.$t('wts')
      else if (place === '觀塘') return this.$t('kwunTong')
      else if (place === '葵青') return this.$t('kwaiTsing')
      else if (place === '荃灣') return this.$t('tsuenWan')
      else if (place === '屯門') return this.$t('tuenMun')
      else if (place === '元朗') return this.$t('yuenLong')
      else if (place === '北區') return this.$t('northD')
      else if (place === '大埔') return this.$t('taiPo')
      else if (place === '沙田') return this.$t('shaTin')
      else if (place === '西貢') return this.$t('saiKung')
      else if (place === '離島') return this.$t('island')
      else if (place === '其他') return this.$t('other')

      return place
    }
  },
  watch: {
    page () { // When change of single and double
      this.$router.push('/' + this.$i18n.locale + '/member/schedule/' + this.page)
      this.getTourData()
    }
  },
  created () {
  },
  mounted () {
    if (!this.$route.params.page) {
      this.$router.push('/' + this.$i18n.locale + '/member/schedule/1')
    }
    this.getTourData()
  },
  updated () {
    if (!this.$route.params.page) {
      this.$router.push('/' + this.$i18n.locale + '/member/schedule/1')
    }
  }
}
</script>
