<template>
  <q-page class="flex flex-center">

    {{ $t('failed') }}
    @i18n@: {{ curLang }}
    @lang@: {{ qLang }}
    <br>
    <q-select
      separator
      v-model="model"
      :options="options"
      label="Google"
    />
    <q-select outlined v-model="model" :options="options" label="Outlined" />
  </q-page>

</template>

<style>
</style>

<script>
import i18n from 'src/i18n/i18n'
export default {
  name: 'PageIndex',
  data () {
    return {
      testuid: this.$store.state.global.uid, // Vuex state, global is the Vuex name
      curLang: this.$glo.locale,
      qLang: this.$q.lang.getLocale(),
      langs: [
        {
          label: '中文',
          value: 'zh-hant'
        },
        {
          label: 'US English',
          value: 'en-us'
        }
      ],
      lang: null,
      model: null,
      options: [
        'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'
      ]
    }
  },
  computed: {
    status: function () {
      return this.$store.state.global.status
    }
  },
  methods: {
    Lang (lang) {
      this.$i18n.locale = lang
      import(`quasar/lang/${lang}`).then(lang => {
        this.$q.lang.set(lang.default)
        // console.log(this.$q.lang.locale)
      })
    }
  },
  watch: {
    lang (lang) {
      // dynamic import, so loading on demand only
      this.$i18n.locale = lang
      import(`quasar/lang/${lang}`).then(lang => {
        this.$q.lang.set(lang.default)
      })
    }
  },
  created: function () {
    console.log(i18n.locale)
  }
}
</script>
