<template>
  <q-page padding>
    <q-btn @click="changeLang('zh-hant')">繁體中文</q-btn>
    <q-btn @click="changeLang('en-us')">English</q-btn>
    <q-btn @click="testMt()">Test</q-btn><br>
    {{ $t('success') }}<br>
    {{ testState }}<br>
    <br>
    <q-select style="width:300px;" :options="langs" v-model="mlang" />
  </q-page>

</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      // mlang: this.$i18n.locale,
      mlang: this.$store.state.global.langAry[this.$i18n.locale],
      langs: [
        { label: 'English (US)', value: 'en-us' },
        { label: '繁體中文', value: 'zh-hant' }
      ]
    }
  },
  computed: {
    testState: function () {
      return this.$store.state.global.testState
    }
  },
  methods: {
    changeLang (lang) {
      this.$router.replace(this.$glo.changeLang(lang, this.$route.path))
    },
    testMt () {
    }
  },
  watch: {
    mlang (lang) {
      // dynamic import, so loading on demand only
      this.$i18n.locale = lang.value
      import(`quasar/lang/${lang.value}`).then(lang => {
        this.$q.lang.set(lang.default)
      })
    }
  },
  created: function () {
    this.$store.dispatch('global/testLink')
  }
}
</script>
