<template>
  <q-page padding>
    <!-- content -->
    Secure Page: you can only see this if you log in
    <q-btn class="q-mr-md" color="secondary" label="Logout" to="/logout"/>
    <q-btn class="q-mr-md" color="secondary" label="Show Token" @click="showToken()"/>
    {{ jwt }}
  </q-page>
</template>

<script>
// import { LocalStorage } from 'quasar'
export default {
  name: 'Secured',
  data () {
    return {
      visible: true,
      visible2: true,
      text: '',
      error: 'error',
      jwt: localStorage.getItem('JWT_TOKEN')
    }
  },
  mounted () {
    this.getMyGame() // Load getMyGame function onload
  },
  methods: {
    getMyGame () {
      this.$axios.post('https://rankopen.com/plugin.php?id=api&mode=jwt&tab=mygame', localStorage.getItem('JWT_TOKEN'))
        .then((response) => {
          /*
          if (response.data['uid'] > 0) {
            this.$q.notify({ message: '成功', position: this.$glo.notePos, color: this.$glo.noteColor })
          } else {
            this.$q.notify({ message: '失敗', position: this.$glo.notePos, color: this.$glo.noteColor })
          }
          */
          console.log(response)
        })
        .catch(() => {
          // this.$q.notify({ message: '驗證失敗，請重新登入', position: this.$glo.notePos, color: this.$glo.noteColor })
          // this.$router.replace('login')
        })
    },
    showToken () {
      console.log(localStorage.getItem('JWT_TOKEN'))
      console.log(this.$axios.defaults.headers.common['Authorization'])
    },
    logout () { this.$store.dispatch('global/logoutAction') } // This is Vuex actions
  },
  computed: {
    status: function () {
      return this.$store.state.global.status // This is Vuex state (global value)
    }
  }
}

</script>

<style>
</style>
