<template>
<div>
  <center class="q-mt-lg">
    <img :src="'https://rankopen.com/uc_server/avatar.php?uid=' + this.uid +'&size=big'" class="" style="width:150px;height:150px;border-radius: 50%;box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .5);">
    <br>
  </center>
  <div class="text-center text-h5 text-weight-bold text-ao q-mt-sm" style="text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">{{playerData.username}}</div>

  <div class="row q-mt-lg">
    <div class="col text-center" v-if="playerData.elo_rank && playerData.elo_rank != 0">
      <span class="text-h5 text-weight-bold text-teal">{{playerData.elo_rank}}</span><br>
      <span class="text-caption text-grey-7">{{$t('singleRank')}}</span>
    </div>
    <div class="col text-center" v-if="playerData.double_rank && playerData.double_rank != 0">
      <span class="text-h5 text-weight-bold text-teal">{{playerData.double_rank}}</span><br>
      <span class="text-caption text-grey-7">{{$t('doubleRank')}}</span>
    </div>
  </div>
  <div class="row q-mt-md">
    <div class="col text-center" v-if="playerData.elo_rank && playerData.elo_rank != 0">
      <span class="text-subtitle2 text-teal-7">{{playerData.win}} / {{playerData.lose}} ({{singleWinRate}}%)</span><br>
      <span class="text-caption text-grey-7">{{$t('winLose')}}</span>
    </div>
    <div class="col text-center" v-if="playerData.double_rank && playerData.double_rank != 0">
      <span class="text-subtitle2 text-teal-7">{{playerData.double_win}} / {{playerData.double_lose}} ({{doubleWinRate}}%)</span><br>
      <span class="text-caption text-grey-7">{{$t('winLose')}}</span>
    </div>
  </div>
  <div class="q-mt-lg">

    <q-tabs
      v-model="type"
      dense
      class="text-grey-7"
      active-color="primary"
      indicator-color="primary"
      align="justify"
    >
    <q-tab name="single" class="text-bold" @click.native="$router.push('/' + $i18n.locale + '/user/' + $route.params.uid + '/single/1')">
       {{ $t('single') }}
    </q-tab>
    <q-tab name="double" class="text-bold" @click.native="$router.push('/' + $i18n.locale + '/user/' + $route.params.uid + '/double/1')">
       {{ $t('double') }}
    </q-tab>
    </q-tabs>
    <q-separator />
  </div>

    <q-tab-panels v-model="type">
      <q-tab-panel name="single">
        <singleCom/>
      </q-tab-panel>

      <q-tab-panel name="double">
        <doubleCom/>
      </q-tab-panel>

    </q-tab-panels>

</div>
</template>

<style>
td {
  color: #757575
}
</style>

<script>
export default {
  name: 'user',
  data () {
    return {
      playerData: [],
      type: this.$route.params.type
    }
  },
  components: {
    singleCom: () => import('pages/user/usersingle.vue'), // Import Tour detail page for Qpanel
    doubleCom: () => import('pages/user/userdouble.vue') // Import Tour draw page for Qpanel
  },
  methods: {
    getData () {
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=user&uid=' + this.uid, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          this.playerData = response.data.playerData
          // console.log(response.data)
        })
    }
  },
  computed: {
    uid () {
      return this.$route.params.uid
    },
    singleWinRate () {
      return Math.round((this.playerData.win / (Number(this.playerData.lose) + Number(this.playerData.win))) * 100)
    },
    doubleWinRate () {
      return Math.round((this.playerData.double_win / (Number(this.playerData.double_lose) + Number(this.playerData.double_win))) * 100)
    }
  },
  watch: {
    type () { // When change of single and double
      // this.type = this.$route.params.type
    },
    $route (to, from) {
      this.type = this.$route.params.type
    },
    uid () { // When change pages
      this.$router.push('/' + this.$i18n.locale + '/user/' + this.uid + '/single/1')
    }
  },
  mounted () {
    if (!this.$route.params.type) {
      this.$router.push('/' + this.$i18n.locale + '/user/' + this.uid + '/single/1')
    }
    this.getData()
  }
}
</script>
