<template>
<div>
  <center class="text-grey-7 q-mt-lg" v-if="this.recentGameSingle == 0 && this.singleRecord == 0">{{$t('noRecord')}}</center>
  <div v-if="this.recentGameSingle != 0">
    <div class="text-center text-subtitle1 text-weight-bold text-ao q-mt-md" style="text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">{{$t('recentMatch')}}</div>
    <q-table
      separator="cell"
      :data="recentGameSingle" :columns="singleRecentCol"
      hide-bottom flat bordered
      :pagination.sync="pagingSingleRecent"
      class=""
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="battle" :props="props">
            <router-link :to="'/' + $i18n.locale + '/user/' + props.row.p1uid" class="link"><span class=" text-weight-bold">{{ props.row.p1_name }}</span></router-link>
            <span class="text-red"> vs </span>
            <router-link :to="'/' + $i18n.locale + '/user/' + props.row.p2uid" class="link"><span class=" text-weight-bold">{{ props.row.p2_name }}</span></router-link>
          </q-td>
          <q-td key="newtime" class="cursor-pointer" :props="props">
            <span v-if="props.row.newtime === '1'">{{$t('rescheduled')}}</span>
            <span v-if="props.row.newtime === '0'">{{$t('normal')}}</span>
          </q-td>
          <q-td key="datetime" :props="props">{{ props.row.datetime }}</q-td>
          <q-td key="place" :props="props">
            {{ props.row.place }}
          </q-td>
          <q-td key="score" :props="props">{{ props.row.score }}</q-td>
          <q-td key="tour" :props="props">
            <router-link :to="'/' + $i18n.locale + '/tour/info/' + props.row.tour_id" class="link">{{ $i18n.locale == 'en-us' ? tourName[props.row.tour_id].name_en : tourName[props.row.tour_id].name }}</router-link>
          </q-td>
          <q-td key="group" :props="props">
            <router-link :to="'/' + $i18n.locale + '/draw/' + props.row.tour_id + '/' +
            (tourName[props.row.tour_id].format === 'buddiescup' ? props.row.group_id : props.row.round)" class="link">
              {{ $i18n.locale == 'en-us' ? groupName[props.row.group_id].name_en : groupName[props.row.group_id].name }}
            </router-link>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
  <div v-if="this.singleRecord != 0">
    <div class="text-center text-subtitle1 text-weight-bold text-ao q-mt-md" style="text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">{{$t('matchRecord')}}</div>
    <q-table
      separator="cell"
      :data="singleRecord" :columns="singleRecordCol"
      hide-bottom flat bordered
      :pagination.sync="pagingSingleRecord"
      class=""
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="battle" :props="props">
            <router-link :to="'/' + $i18n.locale + '/user/' + ((props.row.winner === props.row.player1 || props.row.winner === -1) ? props.row.p1uid : props.row.p2uid)" class="link">
              <span class=" text-weight-bold">{{ (props.row.winner === props.row.player1 || props.row.winner === -1) ? props.row.p1_name : props.row.p2_name }}</span>
            </router-link>
            <span class="text-red"> {{ props.row.winner == -1 ? 'vs' : 'def'}} </span>
            <router-link :to="'/' + $i18n.locale + '/user/' + (props.row.winner !== props.row.player1 ? props.row.p1uid : props.row.p2uid)" class="link">
              <span class=" text-weight-bold">{{ props.row.winner !== props.row.player1 ? props.row.p1_name : props.row.p2_name }}</span>
            </router-link>
          </q-td>
          <q-td key="winlose" class="cursor-pointer" :props="props">
            <span v-if="props.row.winner === '-1'"> {{ $t('scoreDraw')}} </span>
            <span class="" v-else-if="props.row.mmr_disable === '1'">{{ $t('notCount')}} </span>
            <span class="text-mg" v-else-if="props.row.winner === playerid">{{$t('won')}}</span>
            <span class="text-red" v-else>{{$t('lost')}}</span>
          </q-td>
          <q-td key="rankpoint" class="cursor-pointer" :props="props">
            <span v-if="props.row.winner === '-1'"> {{ $t('scoreDraw')}} </span>
            <span class="" v-else-if="props.row.mmr_disable === '1'">{{ $t('notCount')}} </span>
            <span class="text-mg" v-else-if="props.row.winner === playerid">+{{props.row.elo_change}}{{$t('points')}}</span>
            <span class="text-red" v-else>{{props.row.elo_change}}{{$t('points')}}</span>
          </q-td>
          <q-td key="score" :props="props">
            {{ props.row.score }}
            <span v-if="props.row.retire1 === '1' || props.row.retire2 === '1'"> {{$t('retire')}} </span>
          </q-td>
          <q-td key="datetime" :props="props">{{ props.row.datetime }}</q-td>
          <q-td key="place" :props="props">
            {{ props.row.place }}
          </q-td>
          <q-td key="tour" :props="props">
            <router-link :to="'/' + $i18n.locale + '/tour/info/' + props.row.tour_id" class="link">
              {{ $i18n.locale == 'en-us' ? tourName[props.row.tour_id].name_en : tourName[props.row.tour_id].name }}
            </router-link>
          </q-td>
          <q-td key="group" :props="props">
            <router-link :to="'/' + $i18n.locale + '/draw/' + props.row.tour_id + '/' +
            (tourName[props.row.tour_id].format === 'buddiescup' ? props.row.group_id : props.row.round)" class="link">
              {{ $i18n.locale == 'en-us' ? groupName[props.row.group_id].name_en : groupName[props.row.group_id].name }}
            </router-link>
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <q-pagination
      v-model="page"
      color="light-blue-14"
      :max="singleMaxPage"
      :input="true"
    />
  </div>
</div>
</template>

<style>
td {
  color: #757575
}
</style>

<script>
export default {
  name: 'userSingle',
  data () {
    return {
      page: Number(this.$route.params.page),
      type: 'single',
      playerid: '',
      recentGameSingle: [],
      singleRecord: [],
      singleMaxPage: 1,
      tourName: [],
      groupName: [],
      pagingSingleRecent: {
        rowsPerPage: 50 // current rows per page being displayed
      },
      pagingSingleRecord: {
        rowsPerPage: 50 // current rows per page being displayed
      }
    }
  },
  methods: {
    getData (type, page) {
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=user&uid=' + this.uid + '&type=' + this.type + '&page=' + this.$route.params.page, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          this.playerid = response.data.playerData.player_id
          this.recentGameSingle = response.data.recentGameSingle
          this.singleRecord = response.data.singleRecord
          this.groupName = response.data.groupName
          this.tourName = response.data.tourName
          this.singleMaxPage = response.data.singleMaxPage
          // console.log(response.data)
        })
    }
  },
  computed: {
    uid () {
      return this.$route.params.uid
    },
    singleRecentCol () {
      return [
        { name: 'battle', align: 'left', label: this.$t('drawPlayer'), field: 'p1_name' },
        { name: 'newtime', align: 'left', label: this.$t('reschedule'), field: 'newtime' },
        { name: 'datetime', label: this.$t('time'), field: 'datetime' },
        { name: 'place', label: this.$t('place'), field: 'place' },
        { name: 'score', label: this.$t('tempScore'), field: 'score' },
        { name: 'tour', label: this.$t('tour'), field: 'tour' },
        { name: 'group', label: this.$t('group'), field: 'group' }
      ]
    },
    singleRecordCol () {
      return [
        { name: 'battle', align: 'left', label: this.$t('drawPlayer'), field: 'p1_name' },
        { name: 'winlose', align: 'left', label: this.$t('winLosePoint'), field: 'winlose' },
        { name: 'rankpoint', align: 'left', label: this.$t('rankPoint'), field: 'rankpoint' },
        { name: 'score', label: this.$t('score'), field: 'score' },
        { name: 'datetime', label: this.$t('time'), field: 'datetime' },
        { name: 'place', label: this.$t('place'), field: 'place' },
        { name: 'tour', label: this.$t('tour'), field: 'tour' },
        { name: 'group', label: this.$t('group'), field: 'group' }
      ]
    },
    detectPage () {
      return Number(this.$route.params.page)
    }
  },
  watch: {
    page () { // When change of single and double
      this.$router.push('/' + this.$i18n.locale + '/user/' + this.uid + '/' + this.type + '/' + this.page)
    },
    detectPage () {
      this.getData()
      this.page = Number(this.$route.params.page)
    }
  },
  mounted () {
    if (!this.page) { this.page = 1 }
    this.getData()
  }
}
</script>
