<template>
<div>
  <center class="text-grey-7 q-mt-lg" v-if="this.recentGameDouble == 0 && this.doubleRecord == 0">{{$t('noRecord')}}</center>
  <div v-if="this.recentGameDouble != 0">
    <div class="text-center text-subtitle1 text-weight-bold text-ao q-mt-md" style="text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">{{$t('recentMatch')}}</div>
    <q-table
      separator="cell"
      :data="recentGameDouble" :columns="doubleRecentCol"
      hide-bottom flat bordered
      :pagination.sync="pagingDoubleRecent"
      class=""
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="battle" :props="props">
            <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double1p1_uid" class="link"><span class=" text-weight-bold">{{ props.row.double1p1_name }}</span></router-link> +
            <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double1p2_uid" class="link"><span class=" text-weight-bold">{{ props.row.double1p2_name }}</span></router-link>
            <span class="text-red"> vs </span>
            <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double2p1_uid" class="link"><span class=" text-weight-bold">{{ props.row.double2p1_name }}</span></router-link> +
            <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double2p2_uid" class="link"><span class=" text-weight-bold">{{ props.row.double2p2_name }}</span></router-link>
          </q-td>
          <q-td key="newtime" class="cursor-pointer" :props="props">
            <span v-if="props.row.newtime === '1'">{{$t('rescheduled')}}</span>
            <span v-if="props.row.newtime === '0'">{{$t('normal')}}</span>
          </q-td>
          <q-td key="datetime" :props="props">{{ props.row.time }}</q-td>
          <q-td key="place" :props="props">
            {{ props.row.place }}
          </q-td>
          <q-td key="score" :props="props">
            {{ props.row.score }}
          </q-td>
          <q-td key="tour" :props="props">
            <router-link :to="'/' + $i18n.locale + '/tour/info/' + props.row.tour_id" class="link">{{ $i18n.locale == 'en-us' ? tourName[props.row.tour_id].name_en : tourName[props.row.tour_id].name }}</router-link>
          </q-td>
          <q-td key="group" :props="props">
            <router-link :to="'/' + $i18n.locale + '/draw/' + props.row.tour_id + '/' +
            (tourName[props.row.tour_id].format === 'doublecup' ? props.row.group_id : props.row.round)" class="link">
              {{ $i18n.locale == 'en-us' ? groupName[props.row.group_id].name_en : groupName[props.row.group_id].name }}
            </router-link>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
  <div v-if="this.doubleRecord != 0">
    <div class="text-center text-subtitle1 text-weight-bold text-ao q-mt-md" style="text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">{{$t('matchRecord')}}</div>
    <q-table
      separator="cell"
      :data="doubleRecord" :columns="doubleRecordCol"
      hide-bottom flat bordered
      :pagination.sync="pagingDoubleRecord"
      class=""
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="battle" :props="props">
            <span v-if="props.row.win_pair === '1' || props.row.win_pair === '-1'">
              <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double1p1_uid" class="link"><span class=" text-weight-bold">{{ props.row.double1p1_name }}</span></router-link> +
              <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double1p2_uid" class="link"><span class=" text-weight-bold">{{ props.row.double1p2_name }}</span></router-link>
            </span>
            <span v-else>
              <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double2p1_uid" class="link"><span class=" text-weight-bold">{{ props.row.double2p1_name }}</span></router-link> +
              <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double2p2_uid" class="link"><span class=" text-weight-bold">{{ props.row.double2p2_name }}</span></router-link>
            </span>
            <span class="text-red" v-if="props.row.win_pair === '-1'"> vs </span>
            <span class="text-red" v-else> def </span>
            <span v-if="props.row.win_pair === '1' || props.row.win_pair === '-1'">
              <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double2p1_uid" class="link"><span class=" text-weight-bold">{{ props.row.double2p1_name }}</span></router-link> +
              <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double2p2_uid" class="link"><span class=" text-weight-bold">{{ props.row.double2p2_name }}</span></router-link>
            </span>
            <span v-else>
              <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double1p1_uid" class="link"><span class=" text-weight-bold">{{ props.row.double1p1_name }}</span></router-link> +
              <router-link :to="'/' + $i18n.locale + '/user/' + props.row.double1p2_uid" class="link"><span class=" text-weight-bold">{{ props.row.double1p2_name }}</span></router-link>
            </span>
          </q-td>
          <q-td key="winlose" class="cursor-pointer" :props="props">
            <span v-if="props.row.win_pair === '-1'"> {{ $t('scoreDraw')}} </span>
            <span class="" v-else-if="props.row.mmr_disable === '1'">{{ $t('notCount')}} </span>
            <span class="text-mg" v-else-if="props.row.win_pair === props.row.player_pair">{{$t('won')}}</span>
            <span class="text-red" v-else>{{$t('lost')}}</span>
          </q-td>
          <q-td key="rankpoint" class="cursor-pointer" :props="props">
            <span v-if="props.row.win_pair === '-1'"> {{ $t('scoreDraw')}} </span>
            <span class="" v-else-if="props.row.mmr_disable === '1'">{{ $t('notCount')}} </span>
            <span class="text-mg" v-else-if="props.row.win_pair === props.row.player_pair">+{{props.row.mmr_change}}{{$t('points')}}</span>
            <span class="text-red" v-else>{{props.row.mmr_change}}{{$t('points')}}</span>
          </q-td>
          <q-td key="score" :props="props">{{ props.row.score }} <span v-if="props.row.retire1 === '1' || props.row.retire2 === '1'"> {{$t('retire')}} </span></q-td>
          <q-td key="time" :props="props">{{ props.row.time }}</q-td>
          <q-td key="place" :props="props">
            {{ props.row.place }}
          </q-td>
          <q-td key="tour" :props="props">
            <router-link :to="'/' + $i18n.locale + '/tour/info/' + props.row.tour_id" class="link">{{ $i18n.locale == 'en-us' ? tourName[props.row.tour_id].name_en : tourName[props.row.tour_id].name }}</router-link>
          </q-td>
          <q-td key="group" :props="props">
            <router-link :to="'/' + $i18n.locale + '/draw/' + props.row.tour_id + '/' + props.row.group_id" class="link">
              {{ $i18n.locale == 'en-us' ? groupName[props.row.group_id].name_en : groupName[props.row.group_id].name }}
            </router-link>
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <q-pagination
      v-model="page"
      color="light-blue-14"
      :max="doubleMaxPage"
      :input="true"
    />
  </div>
</div>
</template>

<style>
td {
  color: #757575
}
</style>

<script>
export default {
  name: 'userDouble',
  data () {
    return {
      page: Number(this.$route.params.page),
      type: 'double',
      playerid: '',
      recentGameDouble: [],
      doubleRecord: [],
      doubleMaxPage: 1,
      tourName: [],
      groupName: [],
      pagingDoubleRecent: {
        rowsPerPage: 50 // current rows per page being displayed
      },
      pagingDoubleRecord: {
        rowsPerPage: 50 // current rows per page being displayed
      }
    }
  },
  methods: {
    getData (type, page) {
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=user&uid=' + this.uid + '&type=' + this.type + '&page=' + this.$route.params.page, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          this.playerid = response.data.playerData.player_id
          this.recentGameDouble = response.data.recentGameDouble
          this.groupName = response.data.groupName
          this.tourName = response.data.tourName
          this.doubleRecord = response.data.doubleRecord
          this.doubleMaxPage = response.data.doubleMaxPage
          // console.log(response.data)
        })
    }
  },
  computed: {
    uid () {
      return this.$route.params.uid
    },
    doubleRecentCol () {
      return [
        { name: 'battle', align: 'left', label: this.$t('drawPlayer'), field: 'p1_name' },
        { name: 'newtime', align: 'left', label: this.$t('reschedule'), field: 'newtime' },
        { name: 'datetime', label: this.$t('time'), field: 'datetime' },
        { name: 'place', label: this.$t('place'), field: 'place' },
        { name: 'score', label: this.$t('tempScore'), field: 'score' },
        { name: 'tour', label: this.$t('tour'), field: 'tour' },
        { name: 'group', label: this.$t('group'), field: 'group' }
      ]
    },
    doubleRecordCol () {
      return [
        { name: 'battle', align: 'left', label: this.$t('drawPlayer'), field: 'p1_name' },
        { name: 'winlose', align: 'left', label: this.$t('winLosePoint'), field: 'winlose' },
        { name: 'rankpoint', align: 'left', label: this.$t('rankPoint'), field: 'rankpoint' },
        { name: 'time', label: this.$t('time'), field: 'time' },
        { name: 'place', label: this.$t('place'), field: 'place' },
        { name: 'tour', label: this.$t('tour'), field: 'tour' },
        { name: 'group', label: this.$t('group'), field: 'group' }
      ]
    },
    detectPage () {
      return Number(this.$route.params.page)
    }
  },
  watch: {
    page () { // When change of single and double
      this.$router.push('/' + this.$i18n.locale + '/user/' + this.uid + '/' + this.type + '/' + this.page)
    },
    detectPage () {
      this.getData()
      this.page = Number(this.$route.params.page)
    }
  },
  mounted () {
    if (!this.page) { this.page = 1 }
    this.getData()
  }
}
</script>
