// app global css
.text-ao {
  color: #003a5d; // Dark Blue
  // color: #0091d2; // Light Blue
}
.bg-ao {
  background: #0097a7;
  // background: #003a5d; // Dark Blue
  // background: #0091d2; // Light Blue
}

.bg-mg { // Main Green
  background: #0097a7;
}
.text-mg { // Main Green
  color: #0097a7;
}

.text-gb {
  color: #00BCD4;
}
.text-or {
  color: #FFC107;
}
.bg-or {
  background: #FFC107;
}
.text-or2 {
  color: #FDD835;
}
.text-or3 {
  color: #FFA726;
}
.text-ao2 {
  color: #003255; // Dark Blue
  // color: #0091d2; // Light Blue
}
.bg-ao2 {
  background: #003255; // Dark Blue
  // background: #0091d2; // Light Blue
}

.logo-font {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  // font-family: "Gotham";
}

* {
  // font-family: Microsoft JhengHei,"Open Sans",sans-serif;
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
  // font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

.menuActive {
  color #0097a7 // light-blue-14
  // color #003a5d // dark blue
  background #e0e0e0
  // background #0091ea
}

.menuItem {
  color #003a5d
}

.doc-link {
    color: #027be3;
    font-weight: 500;
    text-decoration: none;
    outline: 0;
    border-bottom: 1px dotted currentColor;
    vertical-align: center;
    transition: opacity .2s;
    white-space: nowrap;
}

.link {
    color: #027be3;
    font-weight: 500;
    text-decoration: none;
    outline: 0;
    vertical-align: center;
    transition: opacity .2s;
}

.link:hover {
  //opacity: 0.7;
  color: #00bcd4;
}

.doc-h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    margin: 0px 0px 10px 0px;
}

.doc-heading {
    color: #027be3;
    // cursor: pointer;
}
