<template>
  <q-page padding> avatar
  </q-page>
</template>
<style>
</style>
<script>
// <router-link :to="'/' + this.$i18n.locale + '/tour/tourinfo/' + {{ props.row.tour_id }}" class="doc-link">1233333</router-link>
export default {
  name: 'info',
  mounted () {
    // Redirect to 1 page if there is no page number
    // this.$router.replace('/' + this.$i18n.locale + '/user/' + this.$route.params.uid + '/single/1')
  }
}
</script>
