<template>
  <q-page padding>
    <div class="q-gutter-md" style="">
      <q-input outlined v-model="username" :label="$t('infoUser')" readonly/>
      <q-input outlined v-model="balance" :label="$t('balance')" readonly/>
      <q-input outlined v-model="mobile" :label="$t('mobile')" />
      <q-input outlined v-model="shipAddress" :label="$t('shipAddress')" />
      <q-input outlined v-model="address" :label="$t('region')" />
      <q-input outlined v-model="gender" :label="$t('gender')" />
      <div class="row items-start">
        <div class="col q-mr-md">
          <q-select outlined v-model="birthday" @input-value="birthday"
          :options="optionDay" :label="$t('birthday')"
          :suffix="$t('birthdayDay')"/>
        </div>
        <div class="col q-mr-md">
          <q-select outlined v-model="birthmonth" :options="optionMonth" :label="$t('birthday')" :suffix="$t('birthmonth')"/>
        </div>
        <div class="col">
          <q-select outlined v-model="birthyear" :options="optionyear"
          :label="$t('birthday')" :suffix="$t('birthyear')"/>
        </div>
      </div>
      <q-input outlined v-model="intro" :label="$t('selfIntro')" />
      <q-input outlined v-model="practice" :label="$t('ifPractice')" />
      <q-select
        filled
        :value="model"
        use-input
        hide-selected
        fill-input
        input-debounce="0"
        :options="options"
        @input-value="setModel" />
    </div>
  </q-page>
</template>
<style>
</style>
<script>
// <router-link :to="'/' + this.$i18n.locale + '/tour/tourinfo/' + {{ props.row.tour_id }}" class="doc-link">1233333</router-link>
const stringOptions = [
  'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle',
  'Google1', 'Facebook1', 'Twitter1', 'Apple1', 'Oracle1',
  'Google2', 'Facebook2', 'Twitter2', 'Apple2', 'Oracle2'
]
export default {
  name: 'info',
  data () {
    return {
      text: '',
      username: localStorage.getItem('username'),
      data: '',
      balance: '',
      mobile: '',
      address: '',
      shipAddress: '',
      gender: '',
      birthday: '',
      birthmonth: '',
      birthyear: '',
      intro: '',
      practice: '',
      optionDay: this.getBirthdayDay(),
      // optionMonth: this.getBirthmonth(),
      // optionMonth: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ],
      optionMonth: [ '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12' ],
      optionyear: this.getBirthyear(),
      model: null,
      options: stringOptions
    }
  },
  methods: {
    setModel (val) {
      console.log(val)
      this.model = val
    },
    getBirthdayDay () {
      const day = this.daysInMonth(this.birthmonth, this.birthyear)
      console.log(day + '@month@' + this.birthmonth + '@year@' + this.birthyear)
      return Array.from({ length: day }, (value, index) => 1 + index)
    },
    getBirthmonth () {
      var monthAry = []
      for (let i = 1; i < 13; i++) {
        monthAry.push(i + '')
      }
      return monthAry
    },
    getBirthyear () {
      const year = new Date().getFullYear()
      return Array.from({ length: 116 }, (value, index) => (year - 115) + index).slice().reverse()
    },
    daysInMonth (month, year) {
      return new Date(year, month, 0).getDate()
    },
    changeDay () {
      this.optionDay = this.getBirthdayDay()
      if (this.birthday > this.optionDay.length) {
        this.birthday = this.optionDay.length
      }
      console.log(this.optionDay.length)
    },
    getSettingInfo () {
      this.$axios.post(this.$glo.apiLink + '&mode=jwt&tab=setting-info', JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          console.log(response.data)
          this.balance = '$' + response.data.extcredits8 + ' HKD'
          this.mobile = response.data.mobile
          this.address = response.data.address
          this.shipAddress = response.data.field4
          this.gender = response.data.gender
          this.birthday = response.data.birthday
          this.birthmonth = response.data.birthmonth
          this.birthyear = response.data.birthyear
          this.intro = response.data.bio
          this.practice = response.data.field6
          this.optionDay = this.getBirthdayDay()
        })
        .catch((error) => {
          // handle error
          this.showError = true
          this.$q.notify(this.$t('error') + ': ' + error)
        })
    }
  },
  watch: {
    birthmonth () {
      this.changeDay()
    },
    birthyear () {
      this.changeDay()
    }
  },
  mounted () {
    // Redirect to 1 page if there is no page number
    // this.$router.replace('/' + this.$i18n.locale + '/user/' + this.$route.params.uid + '/single/1')
    this.getSettingInfo()
  }
}
</script>
