<template>
  <q-page padding>
    <div class="q-gutter-md row" style="">
      <q-select
        filled
        :value="model"
        use-input
        hide-selected
        input-debounce="0"
        :options="options"
        @input-value="setModel"
        hint="Text autocomplete"
        style="width: 250px; padding-bottom: 32px"
      >
      </q-select>
    </div>
  </q-page>
</template>
<style>
</style>
<script>
// <router-link :to="'/' + this.$i18n.locale + '/tour/tourinfo/' + {{ props.row.tour_id }}" class="doc-link">1233333</router-link>
const stringOptions = [
  'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle',
  'Google1', 'Facebook1', 'Twitter1', 'Apple1', 'Oracle1',
  'Google2', 'Facebook2', 'Twitter2', 'Apple2', 'Oracle2'
]
export default {
  name: 'info',
  data () {
    return {
      model: null,
      options: stringOptions
    }
  },
  methods: {
    setModel (val) {
      console.log(val)
      this.model = val
    }
  }
}
</script>
