<template>
<div/>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  mounted () {
    if (!this.$route.params.type) {
      this.$router.replace({ name: 'setting', params: { type: 'info' } })
    }
  }
}
</script>
