<template>
<div>
  <div class="">
    <q-tabs
      v-model="type"
      inline-label
      class="bg-grey-1 text-ao bordered text-bold"
      style="border-bottom: 1px solid rgba(0,0,0,0.12)"
      :breakpoint="0"
    >
      <q-tab name="info" class="text-bold" @click.native="$router.push('/' + $i18n.locale + '/setting/info')">
        {{ $t('personInfo') }}
      </q-tab>
      <q-tab name="avatar" class="text-bold" @click.native="$router.push('/' + $i18n.locale + '/setting/avatar')">
        {{ $t('changeAvatar') }}
      </q-tab>
      <q-tab name="password" class="text-bold" @click.native="$router.push('/' + $i18n.locale + '/setting/password')">
        {{ $t('changePw') }}
      </q-tab>
    </q-tabs>
  </div>

    <q-tab-panels v-model="type">
      <q-tab-panel name="info">
        <infoCom/>
      </q-tab-panel>

      <q-tab-panel name="avatar">
        <avatarCom/>
      </q-tab-panel>

      <q-tab-panel name="password">
        <passwordCom/>
      </q-tab-panel>

    </q-tab-panels>

</div>
</template>

<style>
</style>

<script>
export default {
  name: 'setting',
  data () {
    console.log(this.$route.params.type)
    return {
      playerData: [],
      type: this.$route.params.type
    }
  },
  components: {
    infoCom: () => import('pages/setting/info.vue'), // Import Tour detail page for Qpanel
    avatarCom: () => import('pages/setting/avatar.vue'), // Import Tour draw page for Qpanel
    passwordCom: () => import('pages/setting/password.vue') // Import Tour draw page for Qpanel
  },
  methods: {
  },
  computed: {
  },
  watch: {
  },
  mounted () {
    if (!this.$route.params.type) {
      this.$router.push('/' + this.$i18n.locale + '/setting/info')
    }
  }
}
</script>
