<template>
  <q-page padding>
  </q-page>
</template>
<style>
</style>
<script>
// <router-link :to="'/' + this.$i18n.locale + '/tour/tourinfo/' + {{ props.row.tour_id }}" class="doc-link">1233333</router-link>
export default {
  name: 'draw',
  mounted () {
    // Redirect to 1 page if there is no page number
    // console.log('draw index')
    this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=tourframe&action=gettourinfo', JSON.stringify({ lang: this.$i18n.locale }))
      .then((response) => {
        if (this.$glo.activePath === 'draw') {
          if (response.data['format'] === 'minislam' || response.data['format'] === 'semislam') {
            this.$router.replace('/' + this.$i18n.locale + '/draw/' + response.data['tour_id'])
          } else if (response.data['format'] === 'buddiescup' || response.data['format'] === 'doublecup') {
            this.$router.replace('/' + this.$i18n.locale + '/draw/' + response.data['tour_id'])
          }
        }
      })
  }
}
</script>
