<template>
  <div>
    <div v-if="!tourContent" class="text-center"><q-spinner-dots color="cyan" size="2em"/></div>
    <div class="q-pa-xs" v-if="tourContent">
      <q-card class="my-card">
        <q-card-section>
          <center><q-img :src="'https://www.rankopen.com/source/plugin/won_tour/img/tour/banner/' + this.tour_id +'.png'"
          style="max-width: 800px; margin-top: 15px" spinner-color="grey"/></center>

          <span v-html="tourContent.intro_en" v-if="this.$i18n.locale == 'en-us'">{{ tourContent.intro_en }}</span>
          <span v-html="tourContent.intro" v-else>{{ tourContent.intro }}</span>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<style>
.my-card {
  width:100%;
  margin-top: 25px;
}
table {
  border-collapse: collapse;
  width:100%;
}
table, th, td {
  border: 1px solid #ccc;
  padding:5px;
}
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      tourContent: ''
    }
  },
  computed: {
    tour_id () {
      return this.$route.params.tour_id
    }
  },
  methods: {
    getTourData () {
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=info&tourid=' + this.tour_id, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          // console.log(response.data)
          this.tourContent = response.data
        })
    }
  },
  watch: {
    tour_id () {
      this.getTourData()
    }
  },
  mounted () {
    this.getTourData()
  }
}
</script>
