<template>

  <q-page padding>
    <div v-if="!data" class="text-center"><q-spinner-dots color="cyan" size="2em"/></div>
    <div v-if="data">
      <q-table
        separator="cell"
        :data="data" :columns="columns"
        :pagination.sync="pagination"
        hide-bottom flat bordered
        style="margin-top:15px;"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="name" class="cursor-pointer" :props="props" @click.native="$router.replace('/' + $i18n.locale + '/tour/info/' + props.row.tour_id)">
              <span class="doc-link">{{ $i18n.locale == 'zh-hant' ? props.row.name : props.row.name_en }}</span>
            </q-td>
            <q-td key="type" :props="props">{{ $i18n.locale == 'zh-hant' ? props.row.type : props.row.type_en }}</q-td>
            <q-td key="style" :props="props">{{ $i18n.locale == 'zh-hant' ? props.row.style : props.row.style_en }}</q-td>
            <q-td key="applystart" :props="props">{{ props.row.applystart }}</q-td>
            <q-td key="applyend" :props="props">{{ props.row.applyend }}</q-td>
            <q-td key="status" :props="props" v-html="$i18n.locale == 'zh-hant' ? props.row.status : props.row.status_en"></q-td>
            <q-td key="link" :props="props" class="">
              <q-btn class="q-mr-sm" color="light-blue-14" :label="$t('tourInfo')" :to="'/' + $i18n.locale + '/tour/info/' + props.row.tour_id"/>
              <q-btn class="q-mr-sm" color="info" :label="$t('tourDraw')" :to="'/' + $i18n.locale + '/draw/' + props.row.tour_id"/>
              <q-btn color="secondary" :label="$t('tourApply')" :to="'/' + $i18n.locale + '/tour/apply/' + props.row.tour_id"/>
            </q-td>
          </q-tr>
        </template>
      </q-table>

      <q-pagination
        v-model="curPage"
        color="light-blue-14"
        :max="maxPage"
        :input="true"
      />
    </div>
  </q-page>

</template>

<style>
</style>

<script>
// <router-link :to="'/' + this.$i18n.locale + '/tour/tourinfo/' + {{ props.row.tour_id }}" class="doc-link">1233333</router-link>
export default {
  name: 'tourlist',
  data () {
    return {
      uid: localStorage.getItem('uid'),
      username: localStorage.getItem('username'),
      maxPage: 1,
      curPage: Number(this.$route.params.page),
      pagination: {
        rowsPerPage: 10 // current rows per page being displayed
      },
      data: '',
      tourName: 'name'
    }
    // mlang: this.$i18n.locale,
  },
  computed: {

    columns () {
      return [
        {
          name: 'name',
          required: true,
          label: this.$t('tour'),
          align: 'left',
          field: 'rank',
          format: val => `${val}`
        },
        { name: 'type', align: 'left', label: this.$t('tourType'), field: 'type' },
        { name: 'style', label: this.$t('tourStyle'), field: 'style' },
        { name: 'applystart', label: this.$t('applyStart'), field: 'applystart' },
        { name: 'applyend', label: this.$t('applyEnd'), field: 'applyend' },
        { name: 'status', label: this.$t('tourStatus'), field: 'status' },
        { name: 'link', label: this.$t('tourLink'), field: 'link' }
      ]
    }
  },
  methods: {
    getData (page) {
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=tourlist&page=' + page, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          // console.log((response))
          this.data = response.data.result
          this.maxPage = response.data.maxPage
        })
    }
  },
  watch: {
    curPage () {
      this.getData(this.curPage)
      this.$router.push({ name: 'tourlist', params: { page: this.curPage } })
      // this.$router.replace('/' + this.$i18n.locale + '/tour/' + this.current)
    }
    /*
    $route (to, from) {
      console.log(to)
      if (this.$i18n.locale === 'zh-hant') {
        this.data.name = this.data.name_zh
      } else {
        this.data.name = this.data.name_en
      }
      console.log(this.data)
    }
    */
  },
  created: function () {
    // this.$store.dispatch('global/testLink')
    // return this.$glo.apiLink // Run mutations
    // console.log(this.$router.params.page_num)
    // this.$router.replace('login')
    this.getData(this.$route.params.page)
  },
  mounted () {
  }
}
</script>
