<template>
  <q-pull-to-refresh @refresh="refresh">
  <div>
    <q-tabs
      v-model="curTab"
      inline-label
      align="center"
      class="bg-grey-1 text-ao bordered text-bold"
      style="border-bottom: 1px solid rgba(0,0,0,0.12)"
      :breakpoint="0"
    >
      <q-route-tab name="tourinfo" label="" class="text-bold" :to="'/' + this.$i18n.locale + '/tour/info/' + this.$route.params.tour_id" append>
        <q-icon name="fas fa-file-alt" style="font-size: 16px;" class="q-mr-sm" />
         {{ $t('tourInfo') }}
       </q-route-tab>
      <q-route-tab name="tourdraw" label="" class="text-bold" :to="'/' + this.$i18n.locale + '/draw/' + this.$route.params.tour_id" append>
        <q-icon name="far fa-list-alt" style="font-size: 16px;" class="q-mr-sm" />
         {{ $t('tourDraw') }}
       </q-route-tab>
      <q-route-tab name="tourapply" label="" class="text-bold hidden" :to="'/' + this.$i18n.locale + '/tour/apply/' + this.$route.params.tour_id" append>
        <q-icon name="far fa-edit" style="font-size: 16px;" class="q-mr-sm" />
         {{ $t('tourApply') }}
       </q-route-tab>
    </q-tabs>
    <q-page padding>
      <q-select filled v-model="model" :options="options" :label="$t('tour')" @input="changeSelect(model.value)"/>
      <q-tab-panels v-model="curTab" class="">
        <q-tab-panel name="tourinfo" class="q-pa-none" no-padding>
          <tourInfoContent/>
        </q-tab-panel>

        <q-tab-panel name="tourdraw" class="q-pa-none">
          <tourDrawContent/>
        </q-tab-panel>

        <q-tab-panel name="tourapply" class="q-pa-none">
          <tourApplyContent/>
        </q-tab-panel>
      </q-tab-panels>
    </q-page>
  </div>
</q-pull-to-refresh>
</template>

<style>
</style>

<script>
// This page is the frame for tournament information
export default {
  name: 'tourframe',
  data () {
    return {
      curTab: 'tourinfo', // Default value of the Qtab component
      model: '',
      options: [],
      dense: false,
      denseOpts: false,
      optionsLang: []
    }
  },
  computed: {
    tour_id () {
      return this.$route.params.tour_id // Get the dynamic tour_id from url
    },
    detectLang () {
      return this.$i18n.locale
    }
    /*
    options () {
      console.log('gsdagf')
      return [
        'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'
      ]
    }
    */
  },
  components: {
    tourInfoContent: () => import('pages/tour/tourinfo.vue'), // Import Tour detail page for Qpanel
    tourDrawContent: () => import('pages/tour/tourdraw.vue'), // Import Tour draw page for Qpanel
    tourApplyContent: () => import('pages/tour/tourapply.vue') // Import Tour apply page for Qpanel
  },
  methods: {
    getTourInfo () { // Get tour ID if there isn't one
      if (!this.$route.params.tour_id) {
        this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=tourframe&action=gettourinfo', JSON.stringify({ lang: this.$i18n.locale }))
          .then((response) => {
            if (response.data['format'] === 'minislam' || response.data['format'] === 'semislam') {
              this.$router.replace('/' + this.$i18n.locale + '/draw/' + response.data['tour_id'])
            } else if (response.data['format'] === 'buddiescup' || response.data['format'] === 'doublecup') {
              this.$router.replace('/' + this.$i18n.locale + '/draw/' + response.data['tour_id'])
            }
          })
      }
    },
    refresh (done) {
      setTimeout(() => {
        // this.$router.go(this.$router.currentRoute.path)
        location.reload()
        // this.items.push(router.currentRouter.path)
        done()
      }, 10)
    },
    getTourSelect (tourTab) {
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=tourframe&action=tourselect', JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          this.optionsLang = response.data
          this.changeSelectLang(response.data)
        })
    },
    changeSelect (tourID) {
      if (tourID === 'more') {
        this.$router.replace('/' + this.$i18n.locale + '/tour/list/1')
      } else if (this.curTab === 'tourinfo') {
        this.$router.replace('/' + this.$i18n.locale + '/tour/info/' + tourID)
      } else if (this.curTab === 'tourdraw') {
        this.$router.replace('/' + this.$i18n.locale + '/draw/' + tourID)
      } else if (this.curTab === 'tourapply') {
        this.$router.replace('/' + this.$i18n.locale + '/tour/apply/' + tourID)
      }
    },
    getTourName () {
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=tourframe&action=gettourname&tourid=' + this.tour_id, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          this.model = response.data // Set select tournament name when there isn't in the list
        })
    },
    changeSelectLang (select) {
      if ((this.$glo.activePath === 'tour' || this.$glo.activePath === 'draw') && this.$i18n.locale !== null) {
        if (this.$i18n.locale === 'en-us') {
          this.options = select[1]
          this.model = select[1][select[1].findIndex(id => id.value === this.tour_id)]
          if (!this.model) {
            this.getTourName() // Set select tournament name when there isn't in the list
          }
        } else {
          this.options = select[0]
          if (select[0]) {
            this.model = select[0][select[0].findIndex(id => id.value === this.tour_id)]
          }
          if (!this.model) {
            this.getTourName() // Set select tournament name when there isn't in the list
          }
        }
      }
    }
  },
  watch: {
    tour_id () {
      this.getTourInfo() // Get tour ID if there isn't one
    },
    curTab () {
      // console.log(this.curTab)
      this.getTourInfo()
      this.getTourSelect()
    },
    detectLang () { // Check if lang change
      this.changeSelectLang(this.optionsLang)
    }
  },
  mounted () {
    // console.log(this.$route.path)
    // console.log(this.$route.path.split('/')[3])
    // '/' + curPath.split('/').slice(2).join('/')
    this.getTourInfo() // Get tour ID if there isn't one
    this.getTourSelect()
  }
}
</script>
