<template>
  <div>
    <q-banner rounded class="q-mt-md bg-secondary text-white">
      <i class="fa fa-info-circle text-white"></i> {{$t('homeMsg')}}
    </q-banner>
  </div>
</template>

<style>
</style>

<script>
// <router-link :to="'/' + this.$i18n.locale + '/tour/tourinfo/' + {{ props.row.tour_id }}" class="doc-link">1233333</router-link>
export default {
  name: 'PageIndex',
  data () {
    return {
    }
    // mlang: this.$i18n.locale,
  },
  computed: {
    tour_id () {
      return this.$route.params.tour_id
    }
  },
  methods: {
    getData (page) {
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=tourlist&page=' + page, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          // console.log((response))
          this.data = response.data.result
          this.maxPage = response.data.maxPage
        })
    }
  },
  watch: {
    current () {
      this.getData(this.current)
      history.replaceState({}, null, '/' + this.$i18n.locale + '/tour/' + this.current)
      // console.log(window.location.href.replace(window.location.origin, ''))
      // history.back()
      // this.$router.replace({ name: 'tour', params: { page_num: this.current } })
      // this.$router.replace('/' + this.$i18n.locale + '/tour/' + this.current)
    }
  },
  created: function () {
    // this.$store.dispatch('global/testLink')
    // return this.$glo.apiLink // Run mutations
    // console.log(this.$router.params.page_num)
    // this.$router.replace('login')
    this.getData(this.$route.params.page_num)
  },
  mounted () {
    // Redirect to 1 page if there is no page number
    // console.log(this.$route.params.tour_id)
    if (!this.$route.params.page_num) {
      // this.$router.replace('/' + this.$i18n.locale + '/tour/1')
    }
  }
}
</script>
