<template>
  <q-page padding>
  </q-page>
</template>
<style>
</style>
<script>
// <router-link :to="'/' + this.$i18n.locale + '/tour/tourinfo/' + {{ props.row.tour_id }}" class="doc-link">1233333</router-link>
export default {
  name: 'PageIndex',
  mounted () {
    // Redirect to 1 page if there is no page number
    this.$router.replace('/' + this.$i18n.locale + '/tour/list/1')
  }
}
</script>
