<template>
  <div>
    <q-tabs
      v-model="curTab"
      inline-label
      align="center"
      class="bg-grey-1 text-ao bordered text-bold"
      style="border-bottom: 1px solid rgba(0,0,0,0.12)"
      :breakpoint="0"
    >
      <q-route-tab name="info" label="" class="text-bold" :to="'/' + this.$i18n.locale + '/tour/info/' + this.$route.params.tour_id" append>
        <q-icon name="fas fa-file-alt" style="font-size: 16px;" class="q-mr-sm" />
         {{ $t('tourInfo') }}
       </q-route-tab>
      <q-route-tab name="draw" label="" class="text-bold" :to="'/' + this.$i18n.locale + '/draw/' + this.$route.params.tour_id" append>
        <q-icon name="far fa-list-alt" style="font-size: 16px;" class="q-mr-sm" />
         {{ $t('tourDraw') }}
       </q-route-tab>
      <q-route-tab name="apply" label="" class="text-bold" :to="'/' + this.$i18n.locale + '/tour/apply/' + this.$route.params.tour_id" append>
        <q-icon name="far fa-edit" style="font-size: 16px;" class="q-mr-sm" />
         {{ $t('tourApply') }}
       </q-route-tab>
    </q-tabs>
  </div>
</template>

<style>
</style>

<script>
// <router-link :to="'/' + this.$i18n.locale + '/tour/tourinfo/' + {{ props.row.tour_id }}" class="doc-link">1233333</router-link>
export default {
  name: 'PageIndex',
  data () {
    return {
      curTab: this.$route.params.mode,
      tour_id: this.$route.params.tour_id
    }
    // mlang: this.$i18n.locale,
  }
}
</script>
