<template>
  <div>
    <div v-if="!this.tourFormat" class="text-center"><q-spinner-dots color="cyan" size="2em"/></div>
    <div v-if="this.tourFormat">
      <div class="q-pt-sm" v-if="this.tourFormat == 'minislam' || this.tourFormat == 'semislam'">
          <q-tabs style="border-radius: 5px;"
            v-model="drawTab"
            dense
            class="bg-grey-2 text-ao"
          >
            <span v-for="(item) in roundAry" v-bind:key="item.round">
              <q-tab :name="item.round" :label="$t(item.name)" @click.native="$router.push('/' + $i18n.locale + '/draw/' + tour_id + '/' + item.round)" />
            </span>
          </q-tabs>
          <q-tab-panels v-model="drawTab" v-for="(item,index) in roundAry" v-bind:key="item.name" class="q-pa-none" swipeable>
            <q-tab-panel :name="item.round" class="q-pa-none">
              <center class="q-ma-sm"><span class="text-overline text-grey-14"><i class="far fa-calendar-alt text-secondary"></i> {{$t('orBefore')}} {{deadlineAry[index]}} </span></center>
              <span v-for="(gameItem, gameKey) in gameAry" :key="gameItem.game_id">
                <span v-if="gameItem.round == index+1">
                  <table class="table table-bordered" :id="gameItem.game_id" style="width:100%;">
                    <thead>
                      <tr>
                        <th class="text-muted text-caption" colspan="4">
                          <span class="float-left text-grey-7"><i class="far fa-clock text-teal"></i>
                            <span v-if="gameItem.datetime"> {{gameItem.datetime}}</span>
                            <span v-else> {{$t('noTime')}}</span>
                          </span>
                          <span class="float-right text-grey-7"><i class="fas fa-map-marker-alt text-red-12"></i>
                            <span v-if="gameItem.place"> {{gameItem.place}}</span>
                            <span v-else> {{$t('noPlace')}}</span>
                          </span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr class="">
                        <td>
                          <span class="text-primary font-bold">
                            <span v-if="gameItem.p1seed" class="text-red-12 text-caption">{{gameItem.p1seed}}. </span>
                            <router-link :to="'/' + $i18n.locale + '/user/' + gameItem.p1uid" class="link">{{ gameItem.p1_name }}</router-link>
                            <span class="text-grey text-caption" v-if="!gameItem.p1_name"> {{$t('noName')}}</span>
                          </span>
                          <span class="text-grey text-caption" v-if="gameItem.p1rank"> [{{gameItem.p1rank}}]</span>
                          <small v-if="gameItem.player1==gameItem.winner"><i class="fa fa-check q-ml-sm text-warning"></i></small>
                        </td>

                        <td :class="(gameItem.player1==gameItem.winner ? 'text-cyan' : 'text-grey-7') + ' text-center scoretd'">
                          <span v-if="gameItem.score" >
                            <span :class="gameItem.player1==gameItem.winner ? 'text-weight-bold' : ''">{{gameItem.score[0][0]}}</span>
                            <small class="vertical-top"> {{gameItem.score[0][2]}}</small>
                          </span>
                        </td>
                        <td :class="(gameItem.player1==gameItem.winner ? 'text-cyan' : 'text-grey-7') + ' text-center scoretd'">
                          <span v-if="gameItem.score">
                            <span :class="gameItem.player1==gameItem.winner ? 'text-weight-bold' : ''">{{gameItem.score[1][0]}}</span>
                            <small class="vertical-top"> {{gameItem.score[1][2]}}</small>
                          </span>
                        </td>
                        <td :class="(gameItem.player1==gameItem.winner ? 'text-cyan' : 'text-grey-7') + ' text-center scoretd'">
                          <span v-if="gameItem.score">
                            <span :class="gameItem.player1==gameItem.winner ? 'text-weight-bold' : ''">{{gameItem.score[2][0]}}</span>
                            <small class="vertical-top"> {{gameItem.score[2][2]}}</small>
                          </span>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                          <span v-if="gameItem.p2_name != 'BYE'">
                            <span class="text-primary font-bold">
                              <span v-if="gameItem.p2seed" class="text-red-12 text-caption">{{gameItem.p2seed}}. </span>
                              <router-link :to="'/' + $i18n.locale + '/user/' + gameItem.p2uid" class="link">{{ gameItem.p2_name }}</router-link>
                              <span class="text-grey text-caption" v-if="!gameItem.p2_name"> {{$t('noName')}}</span>
                            </span>
                            <span class="text-grey text-caption" v-if="gameItem.p2rank"> [{{gameItem.p2rank}}]</span>
                            <small v-if="gameItem.player2==gameItem.winner"><i class="fa fa-check q-ml-sm text-warning"></i></small>
                          </span>
                          <span v-else>
                            <span class="text-primary font-bold">
                              <span class="text-grey text-caption" href="home.php?mod=space&amp;uid=">
                                {{gameItem.p2_name}}
                              </span>
                            </span>
                          </span>
                          <small class="text-muted"></small>
                        </td>
                        <td :class="(gameItem.player2==gameItem.winner ? 'text-cyan' : 'text-grey-7') + ' text-center scoretd'">
                          <span v-if="gameItem.score">
                            <span :class="gameItem.player2==gameItem.winner ? 'text-weight-bold' : ''">{{gameItem.score[0][1]}}</span>
                            <small class="vertical-top"> {{gameItem.score[0][3]}}</small>
                          </span>
                        </td>
                        <td :class="(gameItem.player2==gameItem.winner ? 'text-cyan' : 'text-grey-7') + ' text-center scoretd'">
                          <span v-if="gameItem.score">
                            <span :class="gameItem.player2==gameItem.winner ? 'text-weight-bold' : ''">{{gameItem.score[1][1]}}</span>
                            <small class="vertical-top"> {{gameItem.score[1][3]}}</small>
                          </span>
                        </td>
                        <td :class="(gameItem.player2==gameItem.winner ? 'text-cyan' : 'text-grey-7') + ' text-center scoretd'">
                          <span v-if="gameItem.score">
                            <span :class="gameItem.player2==gameItem.winner ? 'text-weight-bold' : ''">{{gameItem.score[2][1]}}</span>
                            <small class="vertical-top"> {{gameItem.score[2][3]}}</small>
                          </span>
                        </td>
                    </tr>
                    </tbody>
                  </table>
                <div class="" :style="(gameKey+1) % 2 && item.name != 'roundF' ? 'border-right:3px solid #32C5D2;height:20px;width:100%;float:left;' : 'height:20px;width:100%;float:left;'"></div>
                </span>
              </span>
            </q-tab-panel>
          </q-tab-panels>
          <center v-if="seedAry" class="q-mb-sm q-mt-sm"><span class="text-subtitle2 text-grey-14"><i class="fa fa-seedling text-secondary"></i> {{$t('seed')}} </span></center>
          <div v-for="(seedItem, seedKey) in seedAry" :key="seedItem.uid" class="q-ml-md">
            <div style="width:50%;float:left;height:30px;" >
              <div class="text-red-12 text-caption float-left" style="width:25px;">{{seedKey}}. </div>
              <router-link :to="'/' + $i18n.locale + '/user/' + seedItem.uid" class="link">{{ seedItem.name }}</router-link>
              <span class="text-grey text-caption" v-if="seedItem.rank"> [{{seedItem.rank}}]</span>
            </div>
          </div>
      </div>

      <div class="q-pt-sm" v-if="this.tourFormat == 'buddiescup'">
          <q-tabs style="border-radius: 5px;"
            v-model="drawTab"
            dense
            class="bg-grey-2 text-ao"
          >
            <span v-for="(item) in roundAry" v-bind:key="item.group_id">
              <q-tab :name="item.group_id" :label="item.name" @click.native="$router.push('/' + $i18n.locale + '/draw/' + tour_id + '/' + item.group_id)" />
            </span>
          </q-tabs>
          <q-table
            separator="cell"
            :data="data[this.divi]" :columns="columns"
            hide-bottom flat bordered
            :pagination.sync="pagination"
            style="margin-top:15px;"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="groupRank" class="text-teal text-bold text-caption" :props="props">
                  <span class="text-grey-7 text-caption" v-if="props.row.groupRank == 0"> {{$t('noGRank')}} </span>
                  <span class="text-red text-caption" v-else-if="props.row.quit == 1"> {{$t('quitTour')}} </span>
                  <span class="text-teal text-bold text-caption" v-else> {{ props.row.groupRank }}.</span>
                </q-td>
                <q-td key="username" :props="props" >
                  <router-link :to="'/' + $i18n.locale + '/user/' + props.row.uid" class="link">{{ props.row.username }}</router-link>
                  <span class="text-grey text-caption" v-if="props.row.eloRank && props.row.eloRank > 0"> [{{props.row.eloRank}}]</span>
                </q-td>
                <q-td key="completeGame" class="text-grey-8" :props="props">{{ props.row.completeGame }} / {{ props.row.maxGame }}</q-td>
                <q-td key="allWin" class="text-grey-8" :props="props">{{ props.row.allWin }}</q-td>
                <q-td key="netGame" class="text-grey-8" :props="props">{{ props.row.netGame }}</q-td>
                <q-td key="netSet" class="text-grey-8" :props="props">{{ props.row.netSet }}</q-td>
                <q-td key="netPoint" class="text-grey-8" :props="props">{{ props.row.netPoint }}</q-td>
                <q-td key="deadline1" class="text-grey-8" :props="props">
                  {{ props.row.changed ? props.row.changed : 0 }} / {{ props.row.maxGame > 2 ? 2 : props.row.maxGame }}
                  <small v-if="props.row.changed >= 2 || props.row.changed >= props.row.maxGame"><i class="fa fa-check q-ml-xs text-warning"></i></small>
                </q-td>
                <q-td key="deadline2" class="text-grey-8" :props="props">
                  {{ props.row.changed ? props.row.changed : 0 }} / {{ props.row.maxGame > 4 ? 4 : props.row.maxGame }}
                  <small v-if="props.row.changed >= 4 || props.row.changed >= props.row.maxGame"><i class="fa fa-check q-ml-xs text-warning"></i></small>
                </q-td>
                <q-td key="deadline3" class="text-grey-8" :props="props">
                  {{ props.row.changed ? props.row.changed : 0 }} / {{ props.row.maxGame > 6 ? 6 : props.row.maxGame }}
                  <small v-if="props.row.changed >= 6 || props.row.changed >= props.row.maxGame"><i class="fa fa-check q-ml-xs text-warning"></i></small>
                </q-td>
                <q-td key="deadline4" class="text-grey-8" :props="props">
                  {{ props.row.changed ? props.row.changed : 0 }} / {{ props.row.maxGame > 8 ? 8 : props.row.maxGame }}
                  <small v-if="props.row.changed >= 8 || props.row.changed >= props.row.maxGame"><i class="fa fa-check q-ml-xs text-warning"></i></small>
                </q-td>
              </q-tr>
            </template>
          </q-table>
          <div class="q-mt-lg">
            <div class="q-mb-sm text-center text-subtitle1 text-grey-8"><i class="fas fa-clipboard-list text-cyan"></i> {{$t('records')}}</div>
            <q-markup-table flat bordered separator="cell" class="text-grey-8">
              <thead>
                <tr>
                  <td class="text-center">{{ $t('player') }}</td>
                  <td class="text-center">{{$t('time')}}</td>
                  <td class="text-center">{{$t('place')}}</td>
                  <td class="text-center">{{$t('score')}}</td>
                  <td class="text-center">{{$t('remark')}}</td>
                </tr>
              </thead>
              <tbody v-for="(item, index) in matches[this.divi]" v-bind:key="index">
                <tr class="bg-grey-1">
                  <td class="text-left">
                    <router-link :to="'/' + $i18n.locale + '/user/' + item.uid1" class="link"> {{ item.name1 }} </router-link>
                    <small v-if="item.retire1 == '1'" class=""> [{{$t('retire')}}]</small>
                    <span :class="(item.vsdef == 'def') ? 'text-red' : 'text-grey-7'"> {{item.vsdef}}</span>
                    <router-link :to="'/' + $i18n.locale + '/user/' + item.uid2" class="link"> {{ item.name2 }} </router-link>
                    <small v-if="item.retire2 == '1'" class=""> [{{$t('retire')}}]</small>
                  </td>
                  <td class="text-center">{{item.time}}</td>
                  <td class="text-left">{{item.place}}</td>
                  <td class="text-center">{{item.scoreText}}</td>
                  <td class="text-center">{{item.remark}}</td>
                </tr>
              </tbody>
            </q-markup-table>
          </div>
          <div class="q-mt-lg">
            <div class="q-mb-sm text-center text-subtitle1 text-grey-8"><i class="fas fa-user-minus text-cyan"></i> {{$t('penaltyPt')}}</div>
            <div v-if="!penaltyAry[this.divi]" class="text-center text-grey-6">{{ $t('noPenalty') }}</div>
            <div v-for="(item, index) in penaltyAry[this.divi]"  v-bind:key="index" class="text-center">
              <div class="q-mt-sm"><router-link :to="'/' + $i18n.locale + '/user/' + item[0]" class="link"> {{ item[2] }}</router-link> <span class="text-red"> {{ item[1] }}</span></div>
            </div>
          </div>
      </div>

      <div class="q-pt-sm" v-if="this.tourFormat == 'doublecup'">
          <q-tabs style="border-radius: 5px;"
            v-model="drawTab"
            dense
            class="bg-grey-2 text-ao"
          >
            <span v-for="(item) in roundAry" v-bind:key="item.group_id">
              <q-tab :name="item.group_id" :label="item.name" @click.native="$router.push('/' + $i18n.locale + '/draw/' + tour_id + '/' + item.group_id)" />
            </span>
          </q-tabs>
          <q-table
            separator="cell"
            :data="data[this.divi]" :columns="columns"
            hide-bottom flat bordered
            :pagination.sync="pagination"
            style="margin-top:15px;"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="groupRank" class="text-teal text-bold text-caption" :props="props">
                  <span class="text-grey-7 text-caption" v-if="props.row.groupRank == 0"> {{$t('noGRank')}} </span>
                  <span class="text-red text-caption" v-else-if="props.row.quit == 1"> {{$t('quitTour')}} </span>
                  <span class="text-teal text-bold text-caption" v-else> {{ props.row.groupRank }}.</span>
                </q-td>
                <q-td key="username" :props="props" >
                  <router-link :to="'/' + $i18n.locale + '/user/' + props.row.uid1" class="link">{{ props.row.username1 }}</router-link>
                  <span class="text-grey text-caption" v-if="props.row.rank1 && props.row.rank1 > 0"> [{{props.row.rank1}}]</span> +
                  <router-link :to="'/' + $i18n.locale + '/user/' + props.row.uid2" class="link">{{ props.row.username2 }}</router-link>
                  <span class="text-grey text-caption" v-if="props.row.rank2 && props.row.rank2 > 0"> [{{props.row.rank2}}]</span>
                </q-td>
                <q-td key="completeGame" class="text-grey-8" :props="props">{{ props.row.completeGame }} / {{ props.row.maxGame }}</q-td>
                <q-td key="allWin" class="text-grey-8" :props="props">{{ props.row.allWin }}</q-td>
                <q-td key="netGame" class="text-grey-8" :props="props">{{ props.row.netGame }}</q-td>
                <q-td key="netSet" class="text-grey-8" :props="props">{{ props.row.netSet }}</q-td>
                <q-td key="netPoint" class="text-grey-8" :props="props">{{ props.row.netPoint }}</q-td>
                <q-td key="deadline1" class="text-grey-8" :props="props">
                  {{ props.row.changed ? props.row.changed : 0 }} / {{ props.row.maxGame > 2 ? 2 : props.row.maxGame }}
                  <small v-if="props.row.changed >= 2 || props.row.changed >= props.row.maxGame"><i class="fa fa-check q-ml-xs text-warning"></i></small>
                </q-td>
                <q-td key="deadline2" class="text-grey-8" :props="props">
                  {{ props.row.changed ? props.row.changed : 0 }} / {{ props.row.maxGame > 4 ? 4 : props.row.maxGame }}
                  <small v-if="props.row.changed >= 4 || props.row.changed >= props.row.maxGame"><i class="fa fa-check q-ml-xs text-warning"></i></small>
                </q-td>
                <q-td key="deadline3" class="text-grey-8" :props="props">
                  {{ props.row.changed ? props.row.changed : 0 }} / {{ props.row.maxGame > 6 ? 6 : props.row.maxGame }}
                  <small v-if="props.row.changed >= 6 || props.row.changed >= props.row.maxGame"><i class="fa fa-check q-ml-xs text-warning"></i></small>
                </q-td>
                <q-td key="deadline4" class="text-grey-8" :props="props">
                  {{ props.row.changed ? props.row.changed : 0 }} / {{ props.row.maxGame > 8 ? 8 : props.row.maxGame }}
                  <small v-if="props.row.changed >= 8 || props.row.changed >= props.row.maxGame"><i class="fa fa-check q-ml-xs text-warning"></i></small>
                </q-td>
              </q-tr>
            </template>
          </q-table>
          <div class="q-mt-lg">
            <div class="q-mb-sm text-center text-subtitle1 text-grey-8"><i class="fas fa-clipboard-list text-cyan"></i> {{$t('records')}}</div>
            <q-markup-table flat bordered separator="cell" class="text-grey-8">
              <thead>
                <tr>
                  <td class="text-center">{{ $t('player') }}</td>
                  <td class="text-center">{{$t('time')}}</td>
                  <td class="text-center">{{$t('place')}}</td>
                  <td class="text-center">{{$t('score')}}</td>
                  <td class="text-center">{{$t('remark')}}</td>
                </tr>
              </thead>
              <tbody v-for="(item, index) in matches[this.divi]" v-bind:key="index">
                <tr class="bg-grey-1">
                  <td class="text-left">
                    <router-link :to="'/' + $i18n.locale + '/user/' + item.uid11" class="link"> {{ item.name11 }} </router-link> +
                    <router-link :to="'/' + $i18n.locale + '/user/' + item.uid12" class="link"> {{ item.name12 }} </router-link>
                    <small v-if="item.retire1 == '1'" class=""> [{{$t('retire')}}]</small>
                    <span :class="(item.vsdef == 'def') ? 'text-red' : 'text-grey-7'"> {{item.vsdef}}</span>
                    <router-link :to="'/' + $i18n.locale + '/user/' + item.uid21" class="link"> {{ item.name21 }} </router-link> +
                    <router-link :to="'/' + $i18n.locale + '/user/' + item.uid22" class="link"> {{ item.name22 }} </router-link>
                    <small v-if="item.retire2 == '1'" class=""> [{{$t('retire')}}]</small>
                  </td>
                  <td class="text-center">{{item.time}}</td>
                  <td class="text-left">{{item.place}}</td>
                  <td class="text-center">{{item.scoreText}}</td>
                  <td class="text-center">{{item.remark}}</td>
                </tr>
              </tbody>
            </q-markup-table>
          </div>
          <div class="q-mt-lg">
            <div class="q-mb-sm text-center text-subtitle1 text-grey-8"><i class="fas fa-user-minus text-cyan"></i> {{$t('penaltyPt')}}</div>
            <div v-if="!penaltyAry[this.divi]" class="text-center text-grey-6">{{ $t('noPenalty') }}</div>
            <div v-for="(item, index) in penaltyAry[this.divi]"  v-bind:key="index" class="text-center">
              <div class="q-mt-sm">
                <router-link :to="'/' + $i18n.locale + '/user/' + item[0][0]" class="link"> {{ item[2][1] }}</router-link> +
                <router-link :to="'/' + $i18n.locale + '/user/' + item[0][2]" class="link"> {{ item[2][3] }}</router-link>
                <span class="text-red"> {{ item[1] }}</span>
              </div>
            </div>
          </div>
      </div>
      <div class="q-pt-lg text-grey-7 text-center" v-if="!this.tourFormat">
        {{$t('noRecord')}}
      </div>
    </div>
  </div>
</template>

<style>
table, th, td {
  border-collapse: collapse;
  border: 1px solid #e7ecf1;
}
th, td {
  padding: 10px;
  text-align: left;
}
td {
  max-width:100%;
  white-space:nowrap;
}
.scoretd {
  vertical-align:middle;
  padding:0px;
  width: 50px;;
}
</style>

<script>
// <router-link :to="'/' + this.$i18n.locale + '/tour/tourinfo/' + {{ props.row.tour_id }}" class="doc-link">1233333</router-link>
export default {
  name: 'tourDraw',
  data () {
    return {
      tourFormat: '',
      roundAry: [],
      gameAry: [],
      matches: [],
      deadlineAry: [],
      seedAry: [],
      drawTab: '',
      penaltyAry: [],
      data: [],
      deadJson: [],
      pagination: {
        rowsPerPage: 20 // current rows per page being displayed
      }
    }
    // mlang: this.$i18n.locale,
  },
  computed: {
    divi () {
      return this.$route.params.divi
    },
    columns () {
      return [
        {
          name: 'groupRank',
          label: this.$t('drawRank'),
          align: 'center',
          field: 'groupRank'
        },
        { name: 'username', align: 'left', label: this.$t('drawPlayer'), field: 'type' },
        { name: 'completeGame', align: 'center', label: this.$t('completeGame'), field: 'type' },
        { name: 'allWin', align: 'center', label: this.$t('allWin'), field: 'style' },
        { name: 'netGame', align: 'center', label: this.$t('winGame'), field: 'applystart' },
        { name: 'netSet', align: 'center', label: this.$t('winSet'), field: 'applyend' },
        { name: 'netPoint', align: 'center', label: this.$t('tempPoint'), field: 'status' },
        { name: 'deadline1', align: 'center', label: this.$t('groupDeadline') + ' ' + this.deadJson[0], field: 'link' },
        { name: 'deadline2', align: 'center', label: this.$t('groupDeadline') + ' ' + this.deadJson[1], field: 'link' },
        { name: 'deadline3', align: 'center', label: this.$t('groupDeadline') + ' ' + this.deadJson[2], field: 'link' },
        { name: 'deadline4', align: 'center', label: this.$t('groupDeadline') + ' ' + this.deadJson[3], field: 'link' }
      ]
    },
    tour_id () {
      return this.$route.params.tour_id
    }
  },
  methods: {
    getData () {
      this.tourFormat = ''
      this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=draw&tourid=' + this.tour_id, JSON.stringify({ lang: this.$i18n.locale }))
        .then((response) => {
          // console.log(response.data)
          this.tourFormat = response.data.format
          // console.log(this.tourFormat)
          // handle minislam and semi slam
          if (response.data.format === 'minislam' || response.data.format === 'semislam') {
            this.roundAry = response.data.round
            this.gameAry = response.data.game
            this.deadlineAry = response.data.deadline
            this.seedAry = response.data.seed
            // Set tour group or round
            if (!this.$route.params.divi && this.$glo.activePath === 'draw') {
              this.$axios.post(this.$glo.apiLink + '&mode=pub&tab=tourframe&action=getdivi&tourid=' + this.tour_id, JSON.stringify({ lang: this.$i18n.locale }))
                .then((response) => {
                  this.drawTab = response.data
                  this.$router.push('/' + this.$i18n.locale + '/draw/' + this.tour_id + '/' + response.data)
                })
            }
          } else if (response.data.format === 'buddiescup') { // Handle buddies cup
            this.roundAry = response.data.round
            this.data = response.data.table
            this.deadJson = response.data.deadJson
            this.matches = response.data.matches
            this.penaltyAry = response.data.penalty
            // Set tour group or round
            if (!this.$route.params.divi && this.$glo.activePath === 'draw') {
              this.$router.push('/' + this.$i18n.locale + '/draw/' + this.tour_id + '/' + this.roundAry[0].group_id)
              this.drawTab = this.roundAry[0].group_id
            }
          } else if (response.data.format === 'doublecup') { // Handle buddies cup
            this.roundAry = response.data.round
            this.data = response.data.table
            this.deadJson = response.data.deadJson
            this.matches = response.data.matches
            this.penaltyAry = response.data.penalty
            // console.log(this.penaltyAry)
            // Set tour group or round
            if (!this.$route.params.divi && this.$glo.activePath === 'draw') {
              this.$router.push('/' + this.$i18n.locale + '/draw/' + this.tour_id + '/' + this.roundAry[0].group_id)
              this.drawTab = this.roundAry[0].group_id
            }
          }
          setTimeout(function () { this.drawTab = this.$route.params.divi }.bind(this), 300)
        })
    }
  },
  watch: {
    tour_id () {
      if (this.tour_id && this.$glo.activePath === 'draw') {
        this.getData()
      }
    },
    divi () {
      if (this.$glo.activePath === 'draw') {
        // this.getData()
        this.drawTab = this.divi
      }
    }
  },
  mounted () {
    if (!this.$route.params.divi && (this.tourFormat === 'minislam' || this.tourFormat === 'semislam')) {
    }
    if (this.tour_id || this.tourFormat) {
      this.getData()
    }
  }
}
</script>
