<template>
  <div id="q-app">
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'App'
}
</script>

<style>
.body {
  font-family: Microsoft JhengHei,"Open Sans",sans-serif;
}
</style>
