<template>
  <q-layout view="hhh Lpr lFf">
    <q-header class="bg-ao" >
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title  @click.native="$router.push('/'+$i18n.locale+'/tour/list/1')">
          <img src="statics/qlogo.png" width="120" height="15" class="cursor-pointer" />
        </q-toolbar-title>

        <q-btn class="hidden" :to="'/' + this.$i18n.locale + '/login'" stretch flat icon="person" label="Login" />
        <q-btn class="hidden" :to="'/' + this.$i18n.locale + '/logout'" stretch flat icon="person" label="Logout" />
        <q-btn class="hidden" no-caps :to="'/' + this.$i18n.locale + '/user/' + this.uid" stretch flat icon="" >
        </q-btn>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-1"
    >
      <q-list style="margin-top: 10px;" class="text-grey-8" >
        <q-item class="" clickable v-ripple :to="'/'+$i18n.locale+'/tour/'" active-class="menuActive" append>
          <q-item-section avatar>
            <q-icon name="fas fa-trophy" style="font-size: 18px;" />
          </q-item-section>
          <q-item-section>
            <q-item-label class=" text-bold">{{ $t('tour') }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="" clickable v-ripple :to="'/'+$i18n.locale+'/draw/'" active-class="menuActive" append>
          <q-item-section avatar>
            <q-icon name="far fa-list-alt" style="font-size: 18px;" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{ $t('draw') }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-ripple :to="'/'+$i18n.locale+'/rank/'" active-class="menuActive" append>
          <q-item-section avatar>
            <q-icon name="far fa-chart-bar" style="font-size: 18px;" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{ $t('rank') }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="" :to="'/' + this.$i18n.locale + '/member'" active-class="menuActive">
          <q-item-section avatar>
            <q-icon name="far fa-calendar-alt" style="font-size: 18px;" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{ $t('mygame') }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="" :to="'/' + this.$i18n.locale + '/contact'" active-class="menuActive">
          <q-item-section avatar>
            <q-icon name="fas fa-phone" style="font-size: 18px;" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{ $t('contact') }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="q-mb-sm" @click.native="changeLang($t('changeLangCode'))" exact clickable>
          <q-item-section avatar>
            <q-icon name="fas fa-language" style="font-size: 18px;" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{ $t('changeLang') }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator />

        <q-item class="q-mt-sm" :to="'/' + this.$i18n.locale + '/login'" active-class="menuActive" v-if="!token">
          <q-item-section avatar>
            <q-icon name="fas fa-user" style="font-size: 18px;" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{ $t('login') }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="q-mt-sm" :to="'/' + this.$i18n.locale + '/user/' + this.uid" active-class="menuActive" v-if="token">
          <q-item-section avatar>
            <q-icon class="hidden" name="fas fa-user" style="font-size: 18px;" />
            <img :src="'https://rankopen.com/uc_server/avatar.php?uid=' + this.uid +'&size=big'" class=""
            style="margin-left: -5px;width:30px;height:30px;border-radius: 50%;box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .2);">
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-weight-bold text-mg">{{ this.username }} </q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="" :to="'/' + this.$i18n.locale + '/setting/'" active-class="menuActive" v-if="token">
          <q-item-section avatar>
            <q-icon name="fas fa-cog" style="font-size: 18px;" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{ $t('setting') }} </q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="" :to="'/' + this.$i18n.locale + '/logout'" active-class="menuActive" v-if="token">
          <q-item-section avatar>
            <q-icon name="fas fa-sign-out-alt" style="font-size: 18px;" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-bold">{{ $t('logout') }} </q-item-label>
          </q-item-section>
        </q-item>

        <div class="hidden">
          <q-separator spaced />
          <q-item to="/">
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Index</q-item-label>
            </q-item-section>
          </q-item>

          <q-item to="/register" >
            <q-item-section avatar>
              <q-icon name="person" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Register</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple :active="activePath === 'secure'" @click.native="$router.push('/'+$i18n.locale+'/secure')" active-class="menuActive">
            <q-item-section avatar>
              <q-icon name="lock" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Secure</q-item-label>
              <q-item-label caption>{{ activePath }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple :active="activePath === 'lang'" @click.native="$router.push('/'+$i18n.locale+'/logout')" active-class="menuActive">
            <q-item-section avatar>
              <q-icon name="exit_to_app" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Logout</q-item-label>
              <q-item-label caption>Logout</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple :active="activePath === 'lang'" @click.native="$router.push('/'+$i18n.locale+'/lang')" active-class="menuActive">
            <q-item-section avatar>
              <q-icon name="exit_to_app" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Lang</q-item-label>
              <q-item-label caption></q-item-label>
            </q-item-section>
          </q-item>
          <q-item  to="/tourlist" exact>
            <q-item-section avatar>
              <q-icon name="exit_to_app" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Tournament List</q-item-label>
              <q-item-label caption>Tour list</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable tag="a" target="_blank" href="https://twitter.com/quasarframework">
            <q-item-section avatar>
              <q-icon name="rss_feed" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Twitter</q-item-label>
              <q-item-label caption>@quasarframework</q-item-label>
            </q-item-section>
          </q-item>
        </div>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      curLink: true,
      curLang: this.$i18n.locale,
      username: localStorage.getItem('username'),
      token: localStorage.getItem('JWT_TOKEN'),
      uid: localStorage.getItem('uid')
    }
  },
  computed: {
    activePath: function () {
      return this.$glo.activePath
    },
    curLang1: function () {
      return this.$i18n.locale
    }
  },
  watch: {
    '$route' (to, from) {
      // react to route changes...
    }
  },
  updated () {
    this.username = localStorage.getItem('username')
    this.token = localStorage.getItem('JWT_TOKEN')
    this.uid = localStorage.getItem('uid')
  },
  methods: {
    openURL,
    changeLang (lang) {
      this.$i18n.locale = lang
      localStorage.setItem('lang', lang)
      // this.$router.replace(this.$glo.changeLang(lang, window.location.href.replace(window.location.origin, '')))
      // this.$q.notify(this.$route.path)
      // this.$router.replace(this.$glo.changeLang(lang, window.location.pathname))
      this.$router.push(this.$glo.changeLang(lang, this.$route.path))
    }
  }
}
</script>

<style>
</style>
